[2013-11-12 03:14] huonw opened #8 "Use buffered IO where approriate"
E.g. I think `cat -n` is particularly slow because it is doing a syscall to read 2 bytes at a time, wrapping the file reader in a [`std::rt::io::buffered::BufferedReader`](http://static.rust-lang.org/doc/master/std/rt/io/buffered/struct.BufferedReader.html) would likely fix this. (NB this is probably unnecessary overhead for `cat` without an arguments.)

[2013-11-29 16:16] ashleyh opened #11 "Implement uniq"
Hi! I will take `uniq` unless anyone objects.

[2013-11-30 23:01] derekchiang opened #12 "Add a contribution guide"
I think this is an excellent project that many people can contribute to, since it can be developed in parallel by its nature.

To avoid the possibility of multiple people working on the same util, it'd be nice to have a way for people to "claim" an item.

[2013-11-30 23:18] derekchiang opened #14 "Implement echo"
I will be working on `echo`.  Just wanted to make sure no one else is working on it :)

[2013-12-01 23:26] #12 closed, assigned to nobody

[2013-12-02 08:52] #14 closed, assigned to nobody

[2013-12-02 14:21] klutzy opened #19 "whoami: Build failure on Windows"
[code]

[2013-12-03 03:59] therealgymmy opened #20 "Implement basename"
I'd like to implement `basename`.

[2013-12-03 23:57] derekchiang opened #24 "Implement du"
Taking on `du`!

[2013-12-05 11:56] Cynede opened #26 "What is target rust version?"
Suggestion: add answer to readme.

If target rust version is not current then create branch for current version.

I ask because for example there is no `from_utf8_slice_opt` anymore

[2013-12-06 23:20] alan-andrade opened #28 "hostname"
Hey guys, I'd like to implement hostname. It that ok ?

thanks :)

[2013-12-07 00:39] alan-andrade opened #29 "Make cat fails"
I'm using rust -v 0.9-pre (aa4455e...)

When I do `make` on the main directory, cat fails with this.

[code]

Is it me or the program ?

[2013-12-08 00:06] #29 closed, assigned to nobody

[2013-12-10 05:28] alan-andrade opened #33 "Implement Head"
May I take head ?

thanks.

[2013-12-14 02:07] kureikain opened #34 "Anyone working on ls yet?"
Hi,

I would like to get my hand dirty on `ls` stuff? but not sure if someone is working on it yet

[2013-12-15 19:04] #26 closed, assigned to nobody

[2013-12-18 06:41] Arcterus opened #36 "Implement rm"
I'd like to do this.

[2013-12-18 06:43] Arcterus opened #37 "Implement rmdir"
I'll do this too, seeing as it's so closely related to rm.

[2013-12-18 06:46] Arcterus opened #38 "Implement sleep"
I'll do this as well.

[2013-12-19 09:01] #37 closed, assigned to nobody

[2013-12-20 17:43] ghost opened #42 "Implement base64"
I'm working on base64

[2013-12-21 00:06] ghost opened #44 "Implement cp"
I'm working on `cp`.

[2013-12-22 19:26] pabzdzdzwiagief opened #45 "Implement tee"
I'm working on `tee`.

[2013-12-23 22:39] Arcterus opened #47 "Implement md5sum"
I'll do this.

[2013-12-26 05:43] ghost opened #48 "`link` attribute obsolete"
After commit mozilla/rust@e09a8e892346ddcb917b74f0c5c678a5b477f609, the `link` attribute is obsolete. It's an easy fix, but the `author` parameter is lost. I don't know if there's another attribute to use for that. In any case it doesn't seem significant.

[2013-12-26 10:49] #48 closed, assigned to nobody

[2013-12-31 10:02] ijl opened #52 "Implement nproc"
Working on it...

[2014-01-01 07:51] juszczakn opened #53 "Implement mkdir"

[2014-01-04 07:16] #53 closed, assigned to nobody

[2014-01-07 00:36] #36 closed, assigned to nobody

[2014-01-07 00:36] #38 closed, assigned to nobody

[2014-01-07 00:36] #42 closed, assigned to nobody

[2014-01-07 00:36] #45 closed, assigned to nobody

[2014-01-07 00:54] #20 closed, assigned to nobody

[2014-01-09 21:07] alan-andrade opened #57 "Implement tty"

[2014-01-10 15:40] #57 closed, assigned to nobody

[2014-01-12 21:01] alan-andrade opened #61 "Implement Id"

[2014-01-21 18:24] ashleyh opened #67 "Define standards"
What exactly are we aiming for in these implementations: are we aiming to replicate the quirks of the GNU implementations exactly? Or trying to be POSIXly correct? Or just doing our best for now and worrying about the details later?

My 2p: the GNU quirks aren't all good, e.g. GNU `uniq -i` thinks 'Γ' and 'γ' are distinct.

[2014-01-31 04:10] Arcterus opened #71 "Implement tail"
I'll do this.

[2014-01-31 04:12] Arcterus opened #72 "Implement truncate"

[2014-02-04 06:05] Cynede opened #76 "[Suggestion] : Give someone ability to review and merge pull requests"
Reviewing other pull requests to not implement the same is hard.
Faster reaction on them will help.

[2014-02-04 15:40] #76 closed, assigned to nobody

[2014-02-05 04:27] Cynede opened #78 "[Suggestion] : dev branch to merge not-ready requests there and allow us people to work on them together"
Dev branch could be used as some centralized place for testing / reviewing pull requests.

For example my and this https://github.com/uutils/coreutils/pull/77 pull request can be there together so we will see how will they work together.

What do you think?

[2014-02-05 08:27] #78 closed, assigned to nobody

[2014-02-05 10:38] Cynede opened #79 "Create some kind of uutils lib for macros and some other base functions"
for example for `crash!` : https://github.com/Heather/coreutils/commit/f6c46024e81390678f51bc83227c6736124b9299

[2014-02-05 10:40] Cynede opened #80 "Logo image"
What about an logo image?
What do you want to see as logo image?

What about the ring from Rust logo and some instruments in the middle?

[2014-02-05 19:58] dmac opened #81 "Implement seq"

[2014-02-06 02:59] Arcterus opened #83 "Standardize the interfaces of the various utilities"
For example, some utilities display errors like `utilname: error msg`, while others do it like `error: error msg`, while yet more do `error msg`.

IMHO, they should all be `utilname: error: error msg` or something of the sort.  That way, people will know which utility failed if multiple are executed in a shell script and for normal usage people will be able to tell that there was an error.

[2014-02-06 04:16] #81 closed, assigned to nobody

[2014-02-06 05:17] #72 closed, assigned to nobody

[2014-02-06 06:45] Cynede opened #86 "Separate linux-only utils in Makefile"
Some of utils are currently linux only. `whoami` , `hostname` ... We should separate them from crossplatform list somehow.

And ideally make the `make` to automatically detect to use both lists or crossplatform only

[2014-02-06 06:46] Arcterus opened #87 "Prevent building of certain programs on Windows"
We should have the Makefile prevent certain programs from building on the various operating systems (most specifically Windows).

[2014-02-06 06:46] #87 closed, assigned to nobody

[2014-02-16 20:46] #86 closed, assigned to nobody

[2014-02-16 20:46] #61 closed, assigned to nobody

[2014-02-18 07:33] #33 closed, assigned to nobody

[2014-02-18 07:33] #28 closed, assigned to nobody

[2014-02-19 02:58] #24 closed, assigned to nobody

[2014-02-20 05:49] Cynede opened #101 "tty on windows: undefined reference to `ttyname'"
What about setting it as linux-only?

[2014-02-20 18:03] #101 closed, assigned to nobody

[2014-02-23 19:51] alan-andrade opened #103 "Code reuse in groups & id"
The `id` program has options that will do the same as `groups` program.

Also, the `id` program has a bunch of structs that could be reused not only by groups, but other programs.

Before proceeding with the `groups` program, I want to ask for some help to decide what to do.
1. We can make public structs and put them in their own file. This way `whoami` , `id` and potentially `groups` could those

[2014-02-23 21:09] humboldtux opened #104 "Implement logname"
I'd like to work on this.

`logname` is very similar to `whoami`. Do i need to use a common folder, like stated in #103?

[2014-02-24 06:18] Arcterus opened #108 "dev vs. individual branches"
After thinking about this, I'm pretty sure that rather than a `dev` branch, we should have individual branches for big projects that are not yet "complete" (e.g. `cp`).  What does everyone else think?

[2014-02-24 12:16] Cynede opened #109 "Travis: what about disabling email notifications?"
I personally don't like it.

So in nutshell what about adding

[code]

to .travis

[2014-02-24 12:42] #109 closed, assigned to Seldaek

[2014-02-24 22:05] #104 closed, assigned to nobody

[2014-02-25 04:57] #103 closed, assigned to nobody

[2014-02-25 09:28] humboldtux opened #111 "Implement readlink"
I'll work on this.

[2014-02-26 03:57] alan-andrade opened #112 "show_error, crash macros rethink"
Hey guys,

While I was trying to extract code from id.rs to use it in groups.rs I stumble upon a problem with the macros that we currently use. I've exposed this problem in the most recent meetup and also in the IRC, and the conclusion was basically the same.

The problem is the following.

groups.rs will include c_types.rs
c_types.rs will use crash! that is defined in util.rs which is being inclu

[2014-02-27 04:11] #112 closed, assigned to nobody

[2014-02-27 18:50] Arcterus opened #117 "Implement tac"

[2014-02-27 20:18] #117 closed, assigned to nobody

[2014-02-28 06:40] Arcterus opened #120 "Implement paste"

[2014-02-28 08:07] Cynede opened #121 "mkdir: mkdir fails if folder exists, it should not"

[2014-02-28 18:59] #120 closed, assigned to nobody

[2014-03-01 06:18] #121 closed, assigned to nobody

[2014-03-06 09:02] LeoTestard opened #126 "Implement ls"
I'd like to work on this. (I already started in fact).
I saw there was already #34 but no answer since 3 months so I'd like to take the liberty to do it if there is no problem with that.

[2014-03-09 06:23] Doppp opened #127 "Implement expand"
WIP.

[2014-03-13 08:41] #80 closed, assigned to nobody

[2014-03-18 12:56] jlneder opened #132 "Implement uptime"
I already implemented a version for linux only. First I use strftime to format time but removed it because of simplicity and less dependencies.
It uses /proc/uptime for uptime, code from users for the number of users and getloadavg() for load average. Both /proc/uptime and getloadavg are unix only (linux only?) so in the meantime I added uptime to UNIX_PROGS.
Based roughly on the code from C coreu

[2014-03-18 13:10] #132 closed, assigned to nobody

[2014-03-21 00:28] Fiedzia opened #139 "implement kill"

[2014-03-21 02:16] Fiedzia opened #140 "binary size is scary"
I know its a rust issue, but looking at about 3MB for each binary, versus around 100KB for coreutils binaries on my system (ubuntu 14.04), I wonder if there is anything that can be done to cut it down.

[2014-03-22 09:04] willdobbins opened #141 "Implement shred"

[2014-03-25 02:22] #47 closed, assigned to nobody

[2014-03-25 05:59] #79 closed, assigned to nobody

[2014-03-26 02:09] Arcterus opened #146 "Implement fold"

[2014-03-27 02:35] #146 closed, assigned to nobody

[2014-04-02 00:14] jxs opened #149 "implement uname"

[2014-04-03 00:21] #149 closed, assigned to nobody

[2014-04-03 17:01] #139 closed, assigned to nobody

[2014-04-03 18:09] Arcterus opened #154 "Implement make-prime-list"
Although, this utility doesn't seem particularly useful.

[2014-04-03 19:36] Fiedzia opened #155 "Implement hostid"

[2014-04-04 18:51] #155 closed, assigned to nobody

[2014-04-21 02:12] caipre opened #159 "Implement touch"
I'll give this a shot.

[2014-05-09 15:48] Arcterus opened #165 "Implement cut"

[2014-05-17 21:21] zvms opened #176 "Implement dd"
I'm working on this.

[2014-05-25 18:26] #159 closed, assigned to nobody

[2014-05-28 00:52] beatgammit opened #190 "Implement sum"
I can do this

[2014-05-28 01:31] #154 closed, assigned to nobody

[2014-05-28 04:01] #190 closed, assigned to nobody

[2014-05-28 12:08] mahkoh opened #194 "Use -O instead of --opt-level 3"
-O is the recommended optimization level according to the people in #rust. Some programs are slower when compiled with -O3.

[2014-05-29 18:00] Arcterus opened #198 "Implement chmod"

[2014-05-30 00:41] beatgammit opened #200 "Implement factor"
I'll take this

[2014-05-30 12:25] mahkoh opened #203 "Replace os::args() by os::args_as_bytes()"
Under linux you can have non-utf8 filenames, e.g.,

[code]

When you try to cat this file with gnu cat you get

[code]

When you try to cat this file with uutils cat you get

[code]

That's because args() has replaced the invalid sequence by �.

[2014-06-04 21:56] motohedgehog opened #207 "Implement sync"

[2014-06-05 19:31] beatgammit opened #208 "Implement who"
I've got this partially working, but this is definitely not going to work on Windows...

[2014-06-06 00:46] akiradeveloper opened #210 "Implement split"
I will take split!

I am new to Rust and this will be really a good excise to me.

[2014-06-08 08:19] brson opened #211 "Deal with exit codes more consistently and composably"
Right now the responsibility for setting the process exit code is scattered across many places, some utils handle it one way, some another. Non-local behavior is everywhere, and this makes it hard for the `uutils` driver to deal with exit codes.

A proposal: pass error codes as return values instead of setting the exit code and/or crashing.

1) Only the driver sets the exit code.

Main functions w

[2014-06-10 22:59] motohedgehog opened #215 "Implement nice"
I'm about to finish sync implementation, so let's have more fun.

[2014-06-11 01:25] #200 closed, assigned to nobody

[2014-06-12 09:58] indeyets opened #216 "[makefile] ability to prefix command-names"
It would be easier to install uutils in parallel with existing gnu/bsd tools if there was a way to prefix names of binaries (`uu-` is the most obvious choice).

implementation should use environment variable probably

[2014-06-12 09:58] mariozski opened #217 "Implement date"
Will take care of it.

[2014-06-12 11:18] 17twenty opened #218 "busybox implementation"
Is there a plan to create a busybox style implementation - one single binary with softlinks able to discern the correct coreutil to run from a softlink?

[2014-06-12 12:28] yincrash opened #219 "Implement sort"
I'm working on this

[2014-06-12 13:11] BrendanBuono opened #220 "Build Instructions on Windows"
As Windows does not come with make, and configuring it can be complicated, Window build instructions should be included in the README

[2014-06-12 14:30] #218 closed, assigned to nobody

[2014-06-12 18:41] kwantam opened #223 "Implement fmt"
I've always wanted to dive into Knuth's paper on line breaking. Here's my chance, I suppose.

`pr` can probably borrow heavily from this once the latter finished.

[2014-06-12 20:54] paulsmith opened #224 "Implement chgrp"
Attempting to implement `chgrp(1)`

[2014-06-13 00:17] Arcterus opened #227 "Allow multicall binary to ignore some programs"
Currently, the multicall binary requires every program to be built.  It would be much better if the programs built-in were configurable.

[2014-06-13 04:27] #216 closed, assigned to nobody

[2014-06-13 06:18] jpercent opened #229 "Implement mv"
Great idea! I'm working on mv!

[2014-06-13 08:42] tbg opened #231 "Implement nl"

[2014-06-13 09:11] andrewkerr9000 opened #232 "Implement numfmt"
I'll work on this.

[2014-06-14 02:15] vi opened #236 ""groups" loops"
[code]

[2014-06-14 18:39] benhirsch24 opened #237 "Implement od"

[2014-06-15 01:18] vi opened #239 ""id" does not end its output with a newline"
[code]

[2014-06-15 02:07] vi opened #240 "sleep: cannot sleep forever"
[code]

`sleep infinity` seems to be the least hacky way to pause the script unless some signal received, so it can happen in scripts.

[2014-06-15 02:11] vi opened #241 "du: `-s` seems to be ignored"
[code]

[2014-06-15 02:19] vi opened #242 "kill: short signal specification (without `-s`) is not supported"
[code]

Note that killing process groups (negative PIDs) is already supported correctly. This use case should not become suddeny unsupported by further edits.

[2014-06-15 07:36] #240 closed, assigned to nobody

[2014-06-15 13:38] torkve opened #249 "Implement chroot"
I'd like to implement the chroot command.

[2014-06-15 20:36] #207 closed, assigned to nobody

[2014-06-15 22:58] #19 closed, assigned to nobody

[2014-06-16 03:42] #231 closed, assigned to nobody

[2014-06-16 22:55] #249 closed, assigned to nobody

[2014-06-17 05:12] BenedictEggers opened #259 "Implement tsort"
Dibs!

[2014-06-17 11:27] ebfe opened #261 "Missing makefile dependencies"
Utils importing the `common` module don't have a make dependency on it. E.g.

[code]

[2014-06-17 14:10] #236 closed, assigned to nobody

[2014-06-17 14:10] #239 closed, assigned to nobody

[2014-06-17 14:52] Arcterus opened #264 "id and groups are now broken on my Mac"
[code]

[2014-06-17 14:53] #241 closed, assigned to nobody

[2014-06-17 15:57] torkve opened #265 "implement shaXXXsum"
I plan to implement the subset of sha1sum, sha224sum, sha256sum, sha384sum, sha512sum utils.
My current opinion regarding implementation: since they all will use rust-crypto library, as well as md5sum does, and they all behave similarly, they all should be implemented as one piece of code (e.g. hashsum/hashsum.rs), selecting the proper hashing algorithm from the command-line option or binary file

[2014-06-18 03:15] Ackar opened #267 "Implement ln"
I'm working on this!

[2014-06-18 17:26] vincent23 opened #271 "Implement join"

[2014-06-19 02:57] kwantam opened #273 "common/util.rs: self::libc reference is incorrect"
The `extern crate libc` declaration in `common/util.rs` imports libc with respect to the `util` module, not with respect to the crate root. The `crash` and `exit` macros refer to `self::libc::`, but when the macro is expanded in other files, `self::libc` is now pointing to the wrong place.

(This isn't causing build failures because presumably everyone is adding `extern crate libc` to their module

[2014-06-19 03:54] #273 closed, assigned to nobody

[2014-06-19 07:29] #261 closed, assigned to Arcterus

[2014-06-19 07:45] #264 closed, assigned to Arcterus

[2014-06-20 06:01] #259 closed, assigned to nobody

[2014-06-20 21:05] mszczepanczyk opened #288 "Implement mktemp"
I'll do it

[2014-06-23 08:57] #265 closed, assigned to nobody

[2014-06-23 19:48] torkve opened #302 "Implement nohup"
I plan to implement nohup util.

[2014-06-24 02:37] redcape opened #303 "hashsum issues binary/text mode"
The hashsum programs do not work like their GNU counterparts in terms of text vs binary flags. There are a few issues which all touch the same lines of code, so I want to talk about them together:
1. hashsum pulls the entire file into memory before hashing. Files should be read iteratively to prevent large files from blowing memory.
2. text mode assumes UTF-8 which isn't a safe assumption. We shou

[2014-06-25 01:46] redcape opened #305 "hashsum: fix file checking"
A few issues currently with hashsum verification checks:
1. hashsum does not honor the binary/no-binary type in the given check file. It should be determining binary/text mode based on the input file.
2. hashsum does not print the proper binary indicator (*) for future checks to a file.
3. hashsum considers lines with the binary indicator (*) as invalid.
   4, hashsum does not consider lines with

[2014-06-25 03:44] #305 closed, assigned to nobody

[2014-06-26 08:12] #302 closed, assigned to nobody

[2014-06-26 16:06] torkve opened #315 "implement realpath"
I'll implement this

[2014-06-26 16:07] torkve opened #316 "Implement relpath"
This one also will I implement.

[2014-06-27 04:55] #303 closed, assigned to nobody

[2014-06-30 23:11] #223 closed, assigned to nobody

[2014-07-01 03:02] #316 closed, assigned to nobody

[2014-07-02 01:40] Arcterus opened #337 "Implement shuf"

[2014-07-03 12:37] akiradeveloper opened #340 "Share a function to parse number with unit?"
I think coreutils should share a function that convert something like "10K" to 10 \* 1024. Some utilities write their own code that duplicate. Badly, split command is going to be the one. I don't know how many others will duplicate.

I tried to write what we may need. This is really a prototype.

[code]

I think the first step is apply this to split and the next step is to modify other utilities t

[2014-07-10 02:36] #337 closed, assigned to nobody

[2014-07-10 06:19] #242 closed, assigned to nobody

[2014-07-11 17:57] rolfmorel opened #353 "Build fails to find changes on dependency files"
When editing source files which are included by the main entry point file (`fn uumain()`) the make command fails to find changes for these files.

Short session with reproducible case:

[code]

The problem is that when the dependency info is generated by `rustc` in the `CRATE_BUILD` macro it generates a `build/$UTIL.d` file with dependency info for the static library (`build/lib$UTIL.rlib`). The d

[2014-07-20 02:16] #353 closed, assigned to nobody

[2014-07-20 08:01] #227 closed, assigned to nobody

[2014-07-20 18:29] Arcterus opened #364 "Implement timeout"

[2014-07-20 18:32] Arcterus opened #365 "Move all of the utils into a src directory"
What does everyone think of this?

[2014-07-21 04:00] #365 closed, assigned to nobody

[2014-07-22 02:34] #364 closed, assigned to nobody

[2014-07-26 18:30] #127 closed, assigned to nobody

[2014-07-26 19:45] Armavica opened #371 "Implement unexpand"
I am working on this, based on the code of `expand` already in the tree.

[2014-07-27 03:37] #165 closed, assigned to nobody

[2014-07-28 22:20] #371 closed, assigned to nobody

[2014-07-30 00:39] mahkoh opened #374 "fail!() writes to stderr"
fail! writes an error message to stderr. Every function call that can fail is a potential rust error message to stderr. Consider the following code

[code]

This is not how cat should behave. There are currently 129 calls to unwrap() in coreutils.

There is currently no way to make fail! simply call abort which would probably be sufficient for coreutils. You can use stdio::set_stderr to set the wr

[2014-08-01 12:22] mahkoh opened #376 "Implement printf"
I'm working on this.

[2014-08-05 11:17] wr0112358 opened #378 "Implement stat"
I'm working on this.

[2014-08-15 23:12] xmasotto opened #381 "Implement expr"
gonna tackle this one

[2014-08-22 19:43] cdwort opened #385 "Implement chown"
I will be implementing this.

[2014-10-01 00:09] BenBergman opened #407 "Implement pathchk"
I will implement this.

[2014-10-10 18:59] mahkoh opened #416 "Create a build system that doesn't rely on code generation."

[2014-10-14 09:58] #416 closed, assigned to nobody

[2014-10-26 04:55] #220 closed, assigned to nobody

[2014-10-27 14:41] lllShamanlll opened #431 "Implement df"
I'd like to work on this.

[2014-10-30 21:58] dokaptur opened #434 "Implement stdbuf"
I'm just a beginner in Rust, but I'd like to work on this one, if it's ok.

[2014-11-03 05:31] neojski opened #437 "Compilation problem with latest rustc"
I just installed rust version `rustc 0.13.0-dev (0c1268451 2014-11-02 19:22:16 +0000)` but it refuses to compile with the following error:

[code]

[2014-11-03 19:09] edoipi opened #439 "Implement remove"
I'd like to work on that feature.

[2014-11-03 20:56] #437 closed, assigned to nobody

[2014-11-04 13:40] #439 closed, assigned to nobody

[2014-11-04 13:44] edoipi opened #441 "Implement install"
I'll work on this.

[2014-11-25 17:10] wikol opened #457 "tail: tailing a given amount of bytes is completely broken"
Try running

[code]

Instead of "OP\n" `tail` returns "798010". Apparently, it outputs ascii values instead of their characters.

[2014-11-26 02:57] #457 closed, assigned to nobody

[2014-12-01 06:45] alexchandel opened #463 "Compile errors in nohup.rs"
Running `make` yields the following compile error:

[code]

Running with the latest nightly build `rustc 0.13.0-nightly (fac5a0767 2014-11-26 22:37:06 +0000)`, under OS X 10.10.1.

[2014-12-03 05:55] #52 closed, assigned to nobody

[2014-12-04 05:25] #194 closed, assigned to nobody

[2014-12-06 06:54] #463 closed, assigned to nobody

[2014-12-08 21:17] denis631 opened #467 "comm.rs error while compiling"
I get an error, while building the project.
Here is the output:

Deniss-MBP:coreutils denisgrebennicov$ make
rustc -O -L /Users/denisgrebennicov/Downloads/coreutils/build/ --extern time=/Users/denisgrebennicov/Downloads/coreutils/build/libtime.rlib --crate-type rlib --dep-info /Users/denisgrebennicov/Downloads/coreutils/build/base64.d /Users/denisgrebennicov/Downloads/coreutils/src/base64/base64.r

[2014-12-10 00:27] #467 closed, assigned to nobody

[2014-12-10 22:06] vks opened #470 "License for echo.rs and Rust by Example"
@Arcterus @Heather @ebfe
(I apologize if this is not the right channel.)

I have written a [chapter for Rust by Example on command-line arguments](https://github.com/rust-lang/rust-by-example/pull/76) and I used a drastically simplified version of uutils' echo for one example.

Rust by Example's license is Apache and MIT, uutils' license is MIT, but it has a different name in the copyright notice.

[2014-12-12 05:50] #470 closed, assigned to nobody

[2014-12-18 03:24] #215 closed, assigned to nobody

[2015-01-08 14:45] Heather opened #487 "Add ebfe to uutils members"
because he is top 1 commiter in this moment and actively support the project :heart_decoration:

[2015-01-08 17:06] Seldaek commented on #487
Oh I thought I did this already.. Will do yes, welcome @ebfe

[2015-01-08 17:06] Seldaek commented on #487
Actually an invitation has been sent already, it just needs to be accepted at https://github.com/uutils

[2015-01-08 17:06] #487 closed

[2015-01-08 17:40] ebfe commented on #487
Indeed. I've somehow missed the invitation mail.

Thanks everyone.

[2015-01-08 20:41] tailhook opened #488 "Use rust-argparse for argument parsing"
Any chances that you would like to use http://github.com/tailhook/rust-argparse for argument parsing?

It supports types, required options, help message formatting out of the box. And overall more expressive in my opinion. I believe it would simplify command-line parsing in many utilities.

[2015-01-13 18:55] #111 closed

[2015-01-13 19:17] humboldtux commented on #111
Thank you, and sorry to not have done it myself.

[2015-01-16 14:11] jerzozwierz opened #501 "Implement csplit"
I'll be working on this.

[2015-01-19 09:52] gropax opened #502 "Implement pinky"
I'd like to work on this one.

[2015-01-21 07:43] #288 closed

[2015-01-25 10:50] #434 closed

[2015-01-25 13:28] ebfe opened #512 "stdbuf hides exit code of launched command"
coreutils
    $ stdbuf -o0 /bin/false
    $ echo $?
    1

    uutils
    $ build/stdbuf -o0 /bin/false
    $ echo $?
    0

Execing the given command instead of using Command::spawn should fix this? (cc @dokaptur)

[2015-01-25 16:37] #512 closed

[2015-01-26 11:02] dokaptur opened #516 "Implement ptx"
I'd like to work on this one.

[2015-01-27 07:47] Arcterus commented on #488
I don't like that it requires boxing everything. :/

[2015-01-27 08:28] tailhook commented on #488
Well, it doesn't require boxing "everything". It requires boxing the "action" because that's a way in rust to get the pointer to an object that implements trait.

Anyway what specifically you don't like? The need to write `Box::new()`? (which is a little more verbose than "box something" I was using in previous versions of rust :( ). It may be possible to use generic there, but I guess using boxed

[2015-01-28 05:28] Arcterus commented on #488
Sorry, that's what I mean by everything.  I probably should have been more clear.

I haven't really looked through this enough to know what I think of it, but I'd rather use stack allocated memory than heap allocated memory when possible.  I'll try to take a more in-depth look at it later.

[2015-01-29 00:45] lukeasrodgers opened #518 "`make test` fails due to issue with rustc-serialize"
Just FYI, when I run `make test` I get the following output:

[code]

Seems to be related to this issue with rustc-serialize: https://travis-ci.org/rust-lang/rustc-serialize/builds/48640712.

Using rustc 1.0.0-nightly (ed530d7a3 2015-01-16 22:41:16 +0000)

[2015-01-29 08:13] ebfe commented on #518
std::io was renamed to std::old_io. Updating rust and #519 should help.

[2015-01-29 08:26] #518 closed

[2015-02-01 20:15] Arcterus opened #520 "Check isize/usize"
There are probably many places where we should just be using sized integers instead.

[2015-02-01 20:44] ebfe opened #521 "make: libstdbuf dependencies"
There is something wrong with the dependencies for libstdbuf.so. It gets rebuild on every make invocation.

[2015-02-01 21:22] #521 closed

[2015-02-05 20:11] Detegr commented on #431
Any progress? If not, I could take a shot at this. It seems that there will have to be different implementations for fetching the mountpoints as Linux, OS X and Windows all have different OS level APIs for reading them. Coreutils have additional support for different unixes but I think that's a bit overkill as Rust is only supported on Linux and OS X at the moment. Maybe FreeBSD as AFAIK Rust runs

[2015-02-18 01:34] KiChjang opened #529 "Implement who"
I can work on this.

[2015-02-20 15:29] KiChjang commented on #529
Sorry, please remove this issue, I just discovered it's way too much for me to handle.

[2015-02-20 17:16] Heather commented on #529
@KiChjang we can't remove issues, close is right case here.

[2015-02-20 17:16] #529 closed

[2015-02-26 22:43] tailhook commented on #488
@Arcterus, by the way while porting to rust alpha2 I removed boxing around argument types, and configuring argument parser looks a little less verbose now. (However, we need a collection of options to have robust parser and to generate nice help, so I don't believe it's possible to keep everything on the stack :) )

[2015-03-12 22:12] Hoverbear commented on #229
I think this can be closed?

[2015-03-13 04:11] #229 closed

[2015-04-12 11:20] ark6 opened #535 "Implement setuidgid"
I'll work on this.

[2015-04-20 11:38] polapl commented on #381
You have probably given up on coding this issue so I'd like to claim this task.

[2015-04-20 14:42] xmasotto commented on #381
it's all yours, sorry about that

[2015-04-26 20:29] kwantam opened #546 "Tracking issue for fixing utils"
@ctjhoa @Heather @Arcterus and others who have an interest in fixing utils:

Let's use this issue to track which utils we're currently fixing so that we don't get any more collisions. Protocol is something like "check that no one has yet claimed a util; add a new message to this issue claiming util; announce when it's done by opening a PR."

EDIT: We're getting close enough to done here that it ma

[2015-04-27 05:54] jbcrail commented on #546
I would add `echo` and `sync` since they both build without errors. They may or may not be functioning correctly since there are no tests.

[2015-04-27 17:26] kwantam commented on #546
@jbcrail :+1: thanks!

[2015-04-27 17:40] kwantam commented on #546
Claiming `yes`

[2015-04-27 18:15] kwantam commented on #546
Claiming `uniq`

[2015-04-27 18:15] jbcrail commented on #546
@kwantam The new `make build-check` command should help you find out which utilities are building without errors. I've been using it to decide which utility to work on next.

[2015-04-27 19:07] jbcrail commented on #546
Claiming `head` and `tail`

[2015-04-27 19:26] kwantam commented on #546
I'm about to open a PR that cleans up the `#!feature`s used in the working utils. I'd love if y'all could attempt to remove features where possible as well. A common one is that the `collections` feature is used to allow `args.tail()`, but that can just be replaced by `&args[1..]` and the `collections` feature removed.

[2015-04-27 19:30] kwantam opened #550 "`uniq` does not do Unicode case folding"
I don't know whether, by default, case insensitivity should be Unicode case folding or just ASCII case folding. Perhaps the right way forward is to add a `-I` flag that does Unicode case folding, and leave the `-i` flag as-is.

[2015-04-27 21:27] kwantam commented on #546
claiming `whoami`

[2015-04-27 22:13] jbcrail commented on #546
Claiming `tee`

[2015-04-28 01:01] kwantam commented on #546
Claiming `uptime`

[2015-04-28 06:25] divkakwani commented on #378
Are you still working on it? I'd like to take it up if you aren't.

[2015-04-28 13:39] wr0112358 commented on #378
Hi,
I was almost finished, but did not have the time to keep up with the rust
changes.

It's yours.

On Tue, Apr 28, 2015 at 8:25 AM, Divyanshu Kakwani <notifications@github.com

[2015-04-28 17:23] kwantam commented on #546
Claiming `unlink`, `unexpand`, `tr`, and `factor`

[2015-04-28 23:24] kwantam opened #554 "make utilities work with non-UTF-8 inputs"
Since the `String` types in Rust are by nature UTF-8, many of these utilities make the implicit assumption that all inputs will be UTF-8 encoded. It might be useful to expand the capabilities to include non-UTF-8 string handling as well. #553 does this for `expand` and `unexpand`.

[2015-04-29 03:03] jbcrail commented on #546
Claiming `tsort`

[2015-04-29 05:44] kwantam opened #556 "tr does not support character classes, repeats, etc"
This isn't super difficult to do, but keeping it allocation-free a la the `ExpandSet` iterator will be entertaining :)

[2015-04-29 14:22] jbcrail commented on #546
Claiming `truncate`

[2015-04-30 00:07] kwantam commented on #546
@ctjhoa claimed and fixed `cksum`, PR pending

[2015-04-30 00:15] kwantam commented on #546
@jbcrail finally tried this out, this is awesome :+1:

[2015-04-30 01:19] jbcrail commented on #546
Thanks, @kwantam!

[2015-04-30 01:19] jbcrail commented on #546
Claiming `dirname`

[2015-04-30 04:30] kwantam commented on #546
Claiming `touch`, `timeout`, `test`

[2015-04-30 05:49] kwantam opened #560 "touch does not respect the -h flag"
`touch` uses the `set_file_times()` function from Rust's stdlib, which follows symlinks. Thus, the `-h` function does not work correctly.

The solution is to call [`lutimes`](https://www.linux.com/learn/docs/man/lutimes3) on platforms that support it (which would appear to be all platforms except Windows).

[2015-04-30 19:58] jbcrail commented on #546
Claiming `tty`

[2015-04-30 20:32] ctjhoa commented on #546
Claiming `comm`

[2015-04-30 21:44] kwantam commented on #546
It turns out that neither `std::process` nor `std::thread` are sufficient to implement `timeout`. I'm unclaiming this for now, because it seems like it's impossible to make it cross-platform (since we basically have to drop down to libc to get this to work at all).

[2015-04-30 21:46] kwantam commented on #546
Claiming `tac`.

[2015-04-30 21:55] jbcrail commented on #546
Claiming `groups` and `logname`.

[2015-04-30 22:45] kwantam commented on #546
Claiming `shuf`

[2015-05-01 19:54] jbcrail commented on #546
Claiming `printenv`.

[2015-05-01 22:36] kwantam commented on #546
Claiming `sleep`

[2015-05-02 02:00] jbcrail commented on #546
Claiming `hostid` and `pwd`.

[2015-05-03 18:16] mattico opened #565 "whoami Windows Uses an Oversized Buffer"
`getusername()` in whoami uses a 2048-byte buffer to get the username from `GetUserNameA()`:
[code]

When, in practice, usernames can only be up to 104 characters in windows (https://technet.microsoft.com/en-us/library/bb726984.aspx). It's safe to make the buffer 105 bytes.

[2015-05-03 21:41] jbcrail commented on #546
Claiming `sort`.

[2015-05-05 21:16] jbcrail commented on #546
Claiming `cp`, `realpath`, and `relpath`.

[2015-05-06 20:56] jbcrail commented on #546
Claiming `link` and `sum`.

[2015-05-06 22:53] jbcrail commented on #546
Claiming `env`.

[2015-05-07 21:06] jbcrail commented on #546
Claiming `paste`.

[2015-05-07 22:03] jbcrail commented on #546
Claiming `fold`.

[2015-05-08 15:11] jbcrail commented on #546
Claiming `split`.

[2015-05-08 21:45] kwantam commented on #546
Claiming `rm` and `rmdir`

[2015-05-09 13:58] acgtyrant opened #583 "make failed: #![feature(exit_status)] may not be used in the beta release channel"
I run `make`, it returns:

	rustc -O mkmain.rs -o /home/acgtyrant/Projects/coreutils/build/mkmain
	mkmain.rs:1:1: 1:25 error: unstable feature
	mkmain.rs:1 #![feature(exit_status)]
		    ^~~~~~~~~~~~~~~~~~~~~~~~
	note: this feature may not be used in the beta release channel
	error: aborting due to previous error
	Makefile:280: recipe for target '/home/acgtyrant/Projects/coreutils/build/mkmain' fa

[2015-05-10 20:35] jbcrail commented on #546
Claiming `nl`.

[2015-05-11 04:47] jbcrail commented on #546
Claiming `od`.

[2015-05-11 05:46] jbcrail commented on #546
Claiming `nice`.

[2015-05-11 17:59] kwantam commented on #583
Currently you need to build with nightly. We are working on bringing things up to speed with changes in stdlib, and after that we'll go through and remove feature gates where possible.

[2015-05-11 18:08] kwantam commented on #546
claiming `cut`

[2015-05-11 21:59] jbcrail commented on #546
Claiming `readlink`.

[2015-05-12 09:52] #583 closed

[2015-05-13 00:32] jbcrail commented on #546
Claiming `mkdir`.

[2015-05-13 20:28] jbcrail commented on #546
Claiming `mv`.

[2015-05-14 02:22] jbcrail commented on #546
Claiming `mkfifo`.

[2015-05-14 04:27] #565 closed

[2015-05-14 04:28] Heather commented on #565
@mattico thank you

[2015-05-14 22:40] jbcrail commented on #546
Claiming `du`.

[2015-05-15 17:44] jbcrail commented on #267
I'd like to work on this if you aren't currently.

[2015-05-16 07:11] jbcrail commented on #546
Claiming `hashsum`.

[2015-05-17 06:18] jbcrail commented on #546
Claiming `id`.

[2015-05-17 15:34] Ackar commented on #267
Sure! You can work on it.

[2015-05-17 19:31] jbcrail commented on #267
Thanks!

[2015-05-18 09:33] ctjhoa commented on #488
@Arcterus what about https://github.com/docopt/docopt.rs ?

[2015-05-18 09:37] ctjhoa commented on #546
Claiming hostname

[2015-05-18 15:17] acgtyrant commented on #583
@kwantam The Rust 1.0 is out, then what version are you supporting now? I hope it is 1.0, not nightly.

[2015-05-18 15:34] kwantam commented on #583
The issue isn't that the project specifically targets nightly, but that the code as currently written uses unstable features. The parts that use those unstable features need to be rewritten in order to allow compiling with stable rather than nightly.

The idea is that this reliance on unstable features will be removed, but it will not happen overnight. In fact, it's not guaranteed that the codebas

[2015-05-18 15:37] acgtyrant commented on #583
OK, I will help to remove unstable features.

[2015-05-19 00:30] jbcrail commented on #546
Claiming `nohup`.

[2015-05-20 21:24] Heather opened #613 "add Joseph Crail to coreutils team"
/cc @jbcrail

[2015-05-21 19:22] #613 closed

[2015-05-21 19:22] Seldaek commented on #613
Invite sent

[2015-05-22 01:42] jbcrail commented on #613
Thanks, @Heather and @Seldaek!

[2015-05-31 02:00] #516 closed

[2015-05-31 21:09] kwantam commented on #546
I think this issue is pretty much done now. `timeout` is a special case that's going to require rethinking, but this issue doesn't have to stay open just for that.

[2015-05-31 21:09] #546 closed

[2015-06-30 23:19] remram44 commented on #554
The problem is that getopts returns `String`s, so unless it gets patched or this project switches to something else, it's never going to work.

See also #203

[2015-07-05 20:06] #267 closed

[2015-07-16 12:38] neolem commented on #44
I am working on cp.

[2015-07-17 16:55] neolem opened #654 "unable to use docopt"
I am working on 'cp' and am looking to use ``docopt``, https://github.com/docopt/docopt.rs as a substitute for ``getopt``. However, I am getting numerous errors. As a quick test I replaced the ``src/cp.rs`` with the code fragment below.

[code]
I also modified the ``deps/Cargo.toml`` with the following
[code]
and created ``src/cp/deps.mk`` as following
[code]
Running ``make BUILD='cp'`` gives the

[2015-07-18 13:10] retep998 commented on #198
The `chmod` utility implemented as is uses the `chmod` function, which is an entirely useless function on Windows as it doesn't do any sort of permissions at all. Instead it just checks for the `_S_IWRITE` flag and then sets the `FILE_ATTRIBUTE_READONLY` flag on the file accordingly. That's it.

[2015-07-18 13:17] retep998 commented on #560
On Windows, just open the file with the `FILE_FLAG_OPEN_REPARSE_POINT` flag and then call `SetFileTime`.

[2015-07-18 14:38] retep998 opened #655 "Broken build system"
Your build system assumes that the package name and library name are the same for any given dependency, which is an invalid assumption.
Also, it is entirely not robust in that you have to specify all sub-dependencies in `deps.mk` which is just awful.
This results in issues like the following:
[code]
If I add `kernel32-sys` to the `deps.mk` then `cp` gives me a warning and the same error occurs.
[c

[2015-07-20 01:03] nathanross commented on #376
There has been no activity on this claim, so I figured I'd give it a shot. Please see [the following pull request](https://github.com/uutils/coreutils/pull/657).

As noted there: Known remaining features:

    Floating point substitutions (%f %F %g %G %e %E)
    %b should interpret octal escapes differently.

[2015-07-20 11:35] mpkh opened #658 "Fix du, mv, touch for windows"
According this request: https://github.com/uutils/coreutils/pull/656/files

those utils (Linux support) are hardly outdated, and they should be fixed and moved back inside Makefile

[2015-07-20 20:14] ebfe opened #659 "sync build broken on non-windows"
47f82f0de broke the non-windows build for sync.

    uutils/src/sync/sync.rs:40:42: 40:46 error: couldn't read "/home/m/src/uutils/src/sync/platform/../../common/wide.rs": No such file or directory (os error 2)
    uutils/src/sync/sync.rs:40     #[path = "../../common/wide.rs"] mod wide;

Not sure why this is happening since that code is in a windows only module.
Also kernel32-sys and avapi32-sys

[2015-07-20 20:43] retep998 commented on #659
`winapi` and its `-sys` crates are all no-ops on non-Windows. It's easier to just depend on them unconditionally since they build everywhere anyway.

[2015-07-20 20:53] #659 closed

[2015-07-20 20:56] ebfe commented on #655
I had a working cargo build system in #395, but it wasn't very popular. Unfortunately it bitrotted.

[2015-07-31 11:45] krozycki opened #665 "Does not build with rust stable"
[code]

[2015-07-31 17:59] ebfe commented on #665
What rust version are you using? I think we still need a recent nightly rustc to compile :/

[2015-07-31 19:38] krozycki commented on #665
[code]

[2015-07-31 20:12] krozycki commented on #550
Can you explain what do you mean by 'Unicode case folding'?

As far as I know, case insensitivity is handled moreless like this right now :

[code]

[2015-07-31 20:14] ebfe commented on #665
That's the problem. Upgrading to a nightly build should help.

[2015-07-31 20:17] fahlmant commented on #665
@ebfe This should be stated in the README.

[2015-07-31 20:24] Heather commented on #665
stable version support was planned but I guess there are just still being problems with porting on it

[2015-07-31 20:28] fahlmant commented on #665
Could it be stated in the README as a temporary fix?

[2015-07-31 20:37] Heather commented on #665
https://github.com/uutils/coreutils/pull/668 may be better solution :+1:

[2015-07-31 21:14] ebfe commented on #665
@fahlmant sure. Want to make a pull request?

[2015-07-31 21:19] fahlmant commented on #665
@ebfe #669

[2015-08-01 01:45] kwantam commented on #550
Right, but that assumes that the input is ASCII.

If the input is Unicode, then the rules for case insensitivity are much more complicated.

http://unicode.org/faq/casemap_charprop.html
http://unicode.org/charts/case/

The Unicode standard [section 5.18](http://www.unicode.org/versions/Unicode7.0.0/ch05.pdf) defines compliant caseless matching (version 8 isn't out yet, but it probably hasn't chang

[2015-08-02 03:09] nathanross commented on #376
The implementation described above is fully functional, to the best of my knowledge.

[2015-08-04 03:29] alexchandel opened #673 "sync broken on windows x86_64"
Everything goes relatively smoothly until here:
[code]

Built on `rustc 1.3.0-nightly (2a309b7f5 2015-08-02)`.

[2015-08-04 03:33] alexchandel opened #674 "whoami broken on windows x86_64"
Similar to #673:
[code]

Built on `rustc 1.3.0-nightly (2a309b7f5 2015-08-02)`.

[2015-08-15 21:59] kball commented on #71
It looks like this is not under active development... any objections to me tackling the remaining unimplemented pieces?

[2015-08-16 12:20] wirebirdlabs opened #681 "make fails on src/du/du.rs:23"
Building with `rustc 1.4.0-nightly (f05b22efb 2015-08-15)` on OS X:

[code]

[2015-08-16 12:23] wirebirdlabs commented on #681
Digging further, it appears `std::sync::Future` is deprecated since 1.2.0: https://doc.rust-lang.org/std/sync/index.html

[2015-08-16 12:53] wirebirdlabs commented on #681
A temporary workaround is to skip the build of `ru` using `make DONT_BUILD='du'`

[2015-08-17 14:37] dannluciano opened #682 "Make fails in filetime v0.1.5"
[code]

[2015-08-18 01:33] jbcrail commented on #682
Thanks for including the versions of Rust and Cargo. For coreutils, we are only targeting Rust stable (currently 1.2), beta, and nightly. Rust 1.0 had numerous issues that prevented coreutils from cleanly building.

I looked into https://github.com/alexcrichton/filetime and noticed that it depends on the `sys::fs::MetadataExt` module, which was not available for Mac OS until Rust 1.1.

You will ne

[2015-08-19 03:07] #682 closed

[2015-08-19 16:31] dannluciano commented on #682
Thanks, in the README I read this: "Contributions are very welcome, and should target Rust's master branch until Rust 1.0 is released.". As version 1.0 has been released I thought it was the standard.

[2015-08-24 07:10] #681 closed

[2015-08-26 00:36] czinck opened #684 "Implementing (adding features to) sort"
Planning to add a full numeric sort (currently only sorts fractions) and then the human-readable size sort (the feature of gnu sort I use most).

[2015-08-27 13:33] hexsel commented on #665
I think this is not feasible until 1.3 is out.  I can build everything except for "tr" on the Beta channel, but there's a lot (I think 5 or 6 binaries) broken on 1.2 (current stable).

'tr' still fails as it's using .chars() which is unstable even on Nightly.

[2015-08-28 17:37] hexsel commented on #140
On the current version of the project, most binaries end up between 271kB - 471kB (stripping on, LTO off due to [this bug](https://github.com/rust-lang/rust/issues/28066).

Is there a need to make this any smaller?

[2015-08-28 18:21] hexsel commented on #11
This seems to be implemented.  There are some minor differences to OSX uniq, but nothing terrible (spacing on -c, and the fact this one allows -c -d which is useful but unsupported by OSX's uniq).

Should this be closed?

[2015-08-29 10:33] #11 closed

[2015-08-30 09:39] t0b1nux commented on #140
What about shipping a standard library for OS not having rust library and using dynamic linking ?

[2015-08-31 12:35] czinck commented on #684
#686 merged

[2015-08-31 12:35] #684 closed

[2015-09-03 01:44] qrohlf commented on #217
@mariozski are you still planning on implementing, or is this up for grabs again?

[2015-09-03 11:19] vks opened #687 "README is outdated"
Rust 1.0 has been released, and it does not seem that Rust stable is targeted. A possible clarification would be that Rust nightly is currently targeted.

[2015-09-04 06:56] Heather commented on #687
I think we should have some branch just for nightly ...

[2015-09-16 01:51] demonpig opened #688 "Implement cp"
It looks like cp does not have the other features implemented. I would like to work on this.

[2015-09-16 19:55] Arcterus commented on #687
Do you mean like a development branch that we merge into master whenever there's a new Rust stable?

[2015-09-17 13:39] Heather commented on #687
Yes, maybe that could be good workflow to deal with rust updates

[2015-09-23 20:36] Arcterus commented on #687
I agree.

[2015-09-28 03:25] steveklabnik commented on #665
This is properly described in the README, so I think it can be closed.

[2015-09-28 05:19] #665 closed

[2015-09-28 16:48] aarzee opened #696 "Expand scope to include other, non-coreutils utilities"
GNU also provides versions of some other common Unix utilities which could also be implemented in Rust, so I'm curious if items which do this would be welcome in this project. (I'm specifically interested in implementing GNU which).

[2015-09-30 20:42] rlball commented on #385
Are you still working on this? If not I would like to take it over.

[2015-09-30 20:47] cdwort commented on #385
@rlball Go for it.

[2015-09-30 20:47] cdwort commented on #385
Actually, I'll close this issue as well.

[2015-09-30 20:47] #385 closed

[2015-09-30 21:14] rlball opened #698 "Implement chown"
I'll take a crack at this one.

[2015-10-01 15:53] carlosliam opened #699 "Report program name as args[0] instead of a static &str"
GNU coreutils report their name as exactly how they were called. For example, Homebrew installs coreutils with the prefix 'g'. When I type `gstat`, stat refers to itself as gstat:

[code]

[2015-10-01 16:18] carlosliam opened #700 "Print equivalent GNU coreutils version in --version"

[2015-10-01 16:42] Heather commented on #700
for what?

[2015-10-01 17:54] aarzee commented on #700
Not sure what you're asking. What utility? For every utility. Why? It's useful to know what version of coreutils the utility reflects.

[2015-10-02 02:39] petevine opened #701 "32-bit linux armv7 build fails"
Judging from the error, some x86 inline assembly is probably the culprit:

[code]

Should I be moving this report to rust-crypto?

[2015-10-02 17:34] RGafiyatullin opened #702 "factor: panic attempting to factorise powers of two."
Like that
[code]

[2015-10-03 03:30] KeyboardFire commented on #702
I can't reproduce this issue.

    llama@llama:...Code/rust/coreutils$ rcu-factor 2
    2: 2
    llama@llama:...Code/rust/coreutils$ rcu-factor 4
    4: 2 2
    llama@llama:...Code/rust/coreutils$ rcu-factor 8
    8: 2 2 2

Ubuntu 15.04, with the latest nightly.

[2015-10-03 08:01] RGafiyatullin commented on #702
Sorry I've overbureaucratized this issue: #703 -- is the pull request that fixes that.
* b04796 -- panics;
* 545549 -- does not panic.

[2015-10-03 08:01] #702 closed

[2015-10-04 08:46] #688 closed

[2015-10-04 12:33] ebfe commented on #701
This is a rust-crypto issue. Not much we can do.

[2015-10-04 12:33] #701 closed

[2015-10-05 21:43] RGafiyatullin commented on #381
@xmasotto, do you mind? :)

[2015-10-20 12:18] petevine commented on #701
Fixed in rust-crypto with https://github.com/DaGenix/rust-crypto/pull/321

[2015-11-03 01:33] KeenS opened #713 "Implement mktemp"
I'll try to implement `mktemp`.

BTW I have some questions:

1. Is the recommended reference is [coreutils/coreutils](https://github.com/coreutils/coreutils)?
2. Can I use external library (such as [tempfile](https://crates.io/crates/tempfile)?

[2015-11-03 02:24] jbcrail commented on #713
Yes to both. My only caveat for the first question is to make a clean-room implementation (copy behavior, not code), since GNU coreutils is GPL and this implementation isn't.

Good luck! Feel free to ask for help if needed.

[2015-11-21 00:08] petevine opened #714 "libc crate update causes breakage"
Some of the utilities fail to compile on arm with the same kind of error, e.g:

[code]

or

[code]

etc.

[2015-11-24 06:46] ebfe opened #717 "Move common code into a separate crate"
The code in common is linked into several utils as module. This probably should
be a separate crate.

[2015-11-24 22:14] jbcrail commented on #717
I have a private branch that started this. I was waiting for #715 to land before submitting a pull request.

My implementation moves `src/common` to `src/uucore` and uses Cargo to create a local library. Once the internal library is more stable, we can decide to extract the library to a separate repository.

[2015-11-25 03:17] jbcrail commented on #714
Fixed by #715.

[2015-11-25 03:17] #714 closed

[2015-11-25 03:44] petevine opened #719 "Coreutils (dis)armed"
More fallout from [this](https://github.com/rust-lang/rust/issues/29867).

For example:

[code]

or

[code]

etc.

[2015-11-25 04:46] #717 closed

[2015-11-25 04:47] Heather commented on #717
@jbcrail thanks, I like the idea of extracting library

[2015-11-25 09:27] ebfe opened #724 "Crate version and version strings"
There are currently 2 versions. The first is the crate version defined in the
Cargo.toml and then theres a static version string in most utils that is used
in --version output. Crate versions are all 0.0.1 atm and the version string is
mostly 1.0.0 (which, given the maturity/completeness of some utils, is a bit
presumptuous). Can we consolidate these somehow? Is it possible to access the
crate ver

[2015-11-25 10:21] #724 closed

[2015-12-02 00:19] doppioandante opened #738 "Info on this project"
Is the reference of the utils the GNU implementation?
Otherwise one could choose to follow the POSIX specification only.

Second thing, what about utilities like find/grep etc? Are those acceptable? I wanted to implement find.

[2015-12-03 00:50] tshepang commented on #738
- *coreutils* is a GNU concept AFAIK
- find/grep aren't part of the coreutils suite

[2015-12-05 05:42] pibion commented on #674
Can anyone confirm that this issue still exists?  I built on `rustc 1.6.0-nightly (abfadfeee 2015-12-02)` on my Windows 10 machine, and `whoami` appears to be working:

[code]

[2015-12-12 20:46] ebfe opened #742 "Bring back busybox tests"

[2015-12-12 23:47] jbcrail opened #744 "tail fails to preserve end-of-line delimiters"
According to https://doc.rust-lang.org/nightly/std/io/trait.BufRead.html#method.lines, `lines()` now removes the newline byte and CRLF. Previous behavior preserved these characters.

The current tests in `tail` check for this and will pass once this bug is fixed.

[2015-12-17 20:57] alexchandel commented on #674
Seems to work now.

Compiled with `rustc 1.7.0-nightly (110df043b 2015-12-13)`, cross-compiling from `x86_64-apple-darwin` to `i686-pc-windows-msvc`, using LLVM+Clang+LLD head, using Win10's SDK + VC6's msvcrt, using LTO (because VC6's msvcrt is missing math symbols), and tested in wine 1.8-rc4.

[2015-12-17 21:48] alexchandel opened #746 "No option to cross-compile"
LLVM, rustc, and cargo are capable of cross-compilation with the right environment, but there's no way to set the target of the Makefile.

For example, to cross from x86_64-apple-darwin to i686-pc-windows-msvc:
- Install LLVM+Clang+LLD and add symlinks for `cl.exe`, `link.exe`, and `lib.exe` to `clang-cl`, `lld`, and `llvm-lib` resp.
- Copy the Win10 SDK to `~/i686-pc-windows-msvc-w10`, copy the V

[2015-12-18 02:55] alexchandel opened #747 "Oversized executables"
The uutils executables are a bit larger than their native counterparts. These are the stats on OS X with O3, LTO, and alloc_system:

| Name | Native | uutils |
| --- | --- | --- |
| base64 | 8.0K | 200K |
| basename | 8.0K | 160K |
| cat | 8.0K | 204K |
| chmod | 12K | 524K |
| chroot | 8.0K | 220K |
| cksum | 8.0K | 180K |
| comm | 8.0K | 168K |
| cp | 12K | 204K |
| cut | 8.0K | 296K |
| dirname

[2015-12-18 10:29] ebfe commented on #746
You don't have to use the Makefile. Just run `cargo` with whatever options you like.

[2015-12-18 10:50] ebfe commented on #747
That's one of the reasons the multicall binary exsists. As for individual binaries, I'm not sure what we can do except trying to reduce the number of dependencies.

[2015-12-18 19:22] hexsel commented on #747
The project _could_ look into https://github.com/lrs-lang/lib, but it looks like a pretty big change and it may remove large amounts of cross-platform support.

[2015-12-18 19:33] ebfe commented on #747
@hexel I did :) Unfortunately it's linux only.

[2015-12-18 21:45] alexchandel commented on #746
Cargo fails to build the binaries for anything but uutils (the multicall binary).

[2015-12-18 22:54] ebfe commented on #746
Oh my. Sorry the build is still a mess...

With #748 `CARGOFLAGS="--target=<...>" make` should allow to specify your target

The OS check is indeed suboptimal,  it is only used to  disable utils that do not work on windows. You can override it on the commandline/environment (OS=<bla>).

This all should be improved/easier to use (I was hoping for target based feature flags in cargo...)

[2015-12-19 07:43] #744 closed

[2015-12-19 11:13] #719 closed

[2015-12-21 04:08] #742 closed

[2015-12-21 07:38] nathanross commented on #747
The elephants in the room are static linking, ABI compatibility, and as you mentioned libstd.

Some demonstrations. all "results" blocks are generated using the following command:
[code]
All of the results are going to be pretty specific to x86_64. I'm running debian stable.

All of the results below link against libc, the C standard library. You discuss suitability as a systems language. C is a s

[2015-12-22 13:30] ebfe opened #763 "Windows CI"
I'm not sure what the actual status of building on windows is, but it seems the appveyor thing in the readme is stuck at the commit that added it. Anyone knows whats up with that?

cc @jbcrail

[2015-12-22 13:47] ebfe opened #764 "tail performance on big files"
tail is very slow when operating on large files. It reads the whole file from
the beginning when it probably should count newlines starting from the end of
file.

    $ wc -l lines
    100000000 lines

    $ time tail -n 1 lines
    blabla

    real	0m0.002s
    user	0m0.000s
    sys	0m0.000s

    $ time target/release/uutils tail -n 1 lines

    blabla

    real	0m6.349s
    user	0m6.247s
    sys

[2015-12-24 08:40] KeenS opened #767 "build failing on OS X because `kill` is missing"
[code]

[2015-12-24 11:20] nathanross commented on #763
see #766

[2015-12-24 11:25] nathanross commented on #655
fixed #715 and various commits on the build system by jbcrail since.

[2015-12-24 11:33] nathanross commented on #696
pinging #738

[2015-12-24 12:03] nathanross commented on #696
The dev reporting the issue pinged above has also expressed interest in developing a drop-in replacement for a common GNU system utility not packaged in coreutils.

I have no opinion on uutils expanding its scope beyond this repository.

I will say though that either way, it makes sense for rust drop-in-replacement projects to be aware of each other and cross-promote - people interested in one dro

[2015-12-24 12:05] nathanross commented on #747
creating linkback for #140

[2015-12-24 12:06] nathanross commented on #140
see the issue above for more details on this issue, dynamic linking.

[2015-12-24 15:32] nathanross commented on #746
@alexchandel to build binaries using cargo for an individual package, run ```cargo build -p <utilname>``` or run ```cargo build``` in that package/utility's directory.

Anything you could do with cargo without a makefile, you can do right now.

[2015-12-25 03:43] KeenS commented on #767
I'm sorry. Resolved with `cargo update`.

BTW, since this is a binary making project, how about controling `Cargo.lock` under git besides `Cargo.toml`?

[2015-12-25 04:59] ebfe commented on #767
While committing Cargo.lock is recommended for binaries, I'm not sure if it has
any advantages for us right now. Unfortunately we still need a recent nightly
to build and thus mostly want/need the latest version of the libraries to avoid
build breakage. Having a Cargo.lock would just mean another thing to manually update.
Or do I miss something?

[2015-12-25 05:06] KeenS commented on #767
You can update `Cargo.lock` with `cargo update` when you want, like me. Rather, you can 'pin' build passing version suite of packages. The option is up to you but I recommend.

[2015-12-25 07:58] ebfe opened #773 "make install broken"
`make install` runs: `cargo build  --features "" --release --no-default-features` and installs no files.
Without an INSTALL= argument all utils should be build and installed.

I think this broke in 23ca60ec.

cc @nathanross

[2015-12-25 08:02] #767 closed

[2015-12-25 08:19] nathanross commented on #773
Thanks for the cc

[2015-12-25 08:23] ebfe commented on #773
Fixed in #775

[2015-12-25 08:23] #773 closed

[2015-12-25 10:41] ebfe opened #776 "du should not follow symlinks by default"
$ ln -s src foo

    $ du foo
    4	foo

    $ target/debug/uutils du foo
    [...]
    12	foo/yes
    1456	foo

[2015-12-26 19:10] #776 closed

[2016-01-02 07:30] Heather opened #782 "repair travis"
we need fast fix for two tests or temporary disable them

[2016-01-02 10:03] #782 closed

[2016-01-03 09:32] ebfe opened #784 "chmod [ugoa][+-=][ugo] is broken"
$ ls -al a
    -rw-r--r-- 1 u users 0 Jan  3 10:30 a
    $ chmod g=u a
    $ ls -al a
    -rw-rw-r-- 1 u users 0 Jan  3 10:30 a

    $ chmod 0644 a
    $ ls -al a
    -rw-r--r-- 1 u users 0 Jan  3 10:30 a
    $ target/debug uutil chmod g=u a
    $ ls -al a
    -rw----r-- 1 u users 0 Jan  3 10:30 a

[2016-01-04 16:16] #784 closed

[2016-01-04 16:42] #674 closed

[2016-01-04 16:42] Arcterus commented on #673
Is this still an issue?

[2016-01-04 16:57] ebfe opened #788 "chmod -+<octal> is broken"

[2016-01-10 10:30] Arcterus opened #799 "realpath incorrectly handles symlink from `/var` to `/private/var`"
I'm assuming this is just a problem with a symlink as the first part of the path.

GNU:
[code]
uutils:
[code]

[2016-01-10 12:26] #799 closed

[2016-01-10 13:32] #141 closed

[2016-01-10 13:33] #381 closed

[2016-01-10 21:13] Arcterus opened #801 "Use Homu"
Should we start using [this](https://github.com/barosl/homu)?

[2016-01-10 21:37] ebfe commented on #801
It has a rather long issue list and not a lot of recent activity. Do you have any experience with it? What's the benefit?

[2016-01-10 22:00] Arcterus commented on #801
I have not tried using it for anything yet (I was actually hoping someone else may have had some experience with it).  I noticed that it apparently replaced the original [bors](https://github.com/graydon/bors) used by Rust though.  Seems that it tests commits using Travis (or another CI service) before merging them, so I think this would be more useful when begin targeting the stable version of Ru

[2016-01-10 22:12] Arcterus opened #804 "AppVeyor build is ridiculously slow"
It's more than 10 times slower (according to the one build that has managed to successfully complete before another commit preempts it).

[2016-01-11 08:33] Arcterus opened #806 "Broken utils (according to BusyBox)"
According to BusyBox, the following tests are either missing features or are now broken (I'm pretty sure `echo` used to pass all the tests, for example):
- cp
- du
- ~~echo~~
- expand
- fold
- hostname
- ~~mv~~
- ~~tail~~
- tr
- unexpand

[2016-01-11 12:19] nathanross commented on #806
important to note: many GNU coreutils tools fail one or more of the tests on their corresponding busybox test.

I don't have the list on me right now, it can be generated from the makefile in [this branch](https://github.com/nathanross/coreutils-printf/blob/busytest-gnu-standalone/Makefile) by compiling coreutils 8.2.4, placing the resultant binaries in tmp/gnu (relative to the repo) and running `

[2016-01-11 16:44] ebfe commented on #804
It's downloading and installing a whole lot of stuff. Maube some of that can be skipped by switching to `cargo build`, `cargo test` instead of using the Makefile.

[2016-01-11 16:46] #713 closed

[2016-01-12 18:24] ebfe commented on #806
echo, mv and tail don't fail for me.

[2016-01-12 18:40] Arcterus commented on #806
I realized a little while ago that some of these failures are because I'm currently using a Mac, and BusyBox is using Mac OS X's version of coreutils to check the output of our utils.

[2016-01-19 04:04] nathanross commented on #806
Detailed instructions for reproducing the results below are now available on the readme of [the branch](https://github.com/nathanross/coreutils-printf/tree/busytest-gnu-standalone)

#### Busybox test failures run against GNU Coreutils
(cp, date, du, expand, fold, hostname printf, unexpand)

[code]

#### Context

[code]

[2016-01-25 09:07] dylanscode opened #811 "Implement date"
I got this

[2016-02-02 01:48] alexchandel commented on #747
@nathanross Dynamic linking is not the answer, nor is multicall.

Rust programs already dynamically link to `libSystem` on OS X, which provides the entire C standard library plus a multitude of other features. The solution is not to dynamically link libstd.

The "features" libstd provides on top of libSystem are minimal—primarily structural—and in trivial programs ought to be removable. And indeed

[2016-02-13 22:50] vadimcn commented on #747
@alexchandel: how would a C library help with providing e.g. Rust-style string formatting?

A viable solution on Windows might be multicall built as a dylib, plus a small stub binary that just calls the main entry point in that library. The latter could use #![no_std] to ensure the smallest possible size.

[2016-02-14 16:19] shalupov commented on #804
Also probably https://www.appveyor.com/docs/build-cache will help

[2016-02-15 18:54] nathanross commented on #535
This is part of the [daemontools](https://cr.yp.to/daemontools.html) tool collection, rather than the coreutils. If you do implement it, please do let us know, as there's a lot of shared interest / collaborative potential in endeavors to reimplement key system utilities in rust.

[2016-02-16 02:55] nathanross opened #817 "Question: Consistent output across all platforms vs maximum fidelity on a single platform"
Say we have behavior X it is possible to approximate it achieving the same consistent behavior on every platform (and approximate it to the extent that anyone using the program correctly or in a numerically sound way will not have a problem), but you can also achieve its exact behavior by linking to glibc (in this case stdio's printf for floating point behavior)

I.e. in the environment that nearl

[2016-02-16 03:02] nathanross opened #818 "Question: Error messages, Short help messages, and copyright"
In an effort to avoid any copyright violations of GNU's intellectual property re. GNU coreutils (and from that liability for this project), should we avoid using the same error messages as them? Some utilities already do this (e.g. base64) other utilities are identical here (e.g. basename)

I think it's a given that for things like long help, we should document the behavior from scratch.

But for

[2016-02-16 03:21] ebfe commented on #818
I kind of feel the same, but am much less worried about error messages than the page long help texts.

[2016-02-18 00:15] alexchandel commented on #747
@vadimcn It doesn't need to, because string-formatting makes up relatively little of these binaries, and is inlined little with relative ease (once you stop panicking).

If you actually read the disassembly for PROFILE=release cp, you'll find that the largest symbols by far (at 34% of the text section) are `__ZN4copy20h24e32c79ba610ccdJmaE` and `__ZN6uumain20ha15e8d6f5b9ddecfceaE`. And you'll noti

[2016-02-18 11:38] nathanross commented on #747
fascinating @alexchandel your continued investigation into, and passion about, this topic is greatly appreciated.

[2016-03-10 09:08] Anachron commented on #811
When?

[2016-03-13 06:30] yodalee commented on #788
I'm curious about this issue. Since even GNU coreutils doesn't provide such usage.
I try
$ chmod +0020 file
only get: `chmod: invalid mode: `+0020'`

[2016-03-13 06:39] ebfe commented on #788
It (chmod (GNU coreutils) 8.25) does.

[2016-03-13 06:46] yodalee commented on #788
My GNU chmod on Debian is `chmod (GNU coreutils) 8.5`, and it doesn't provide such usage.
However it can be added, of course.

[2016-03-13 07:07] yodalee commented on #788
I found that in rust coreutils
`chmod +octal file` works fine, `-octal` will fail with same reason as `chmod -x`. The arguments are invalid with lib `getopts`

[2016-03-15 13:11] lucaotta commented on #788
I'm about to issue a pull request that fixes the behaviour.

[2016-03-16 21:58] lucaotta opened #831 "chmod +-<symbolic> doesn't honor umask"
`+-=<symbolic>` should check umask if `ugoa` is not present.

Is there any library function that returns this information? From a quick glance the only way is to call `libc::umask()`

[2016-03-19 22:38] fitzgen commented on #699
Looks like this got fixed:

[code]

[2016-03-20 05:08] fitzgen commented on #764
I have some local changes that look pretty promising, but they are still WIP:

[code]

[2016-03-22 00:57] #764 closed

[2016-03-22 01:03] fitzgen opened #833 "tail'ing a file in bytes mode should simply SeekFrom::End(num_bytes)"
There is an optimization and simplification that #832 left on the table.

When tail'ing a file in bytes mode, we can simply seek from the end of the file the specified number of bytes, and then print to the end of the file.

[2016-03-22 18:05] pnathan opened #834 "Bug: Not GPL. :-)"
Hi,

I love this project, but infrastructural software really should be under the GPL. It's very important that distributed software can be fixed by the end user, which the MIT licenses & friends doesn't require.

Please consider releasing as GPL.

Regards,
Paul

[2016-03-22 18:13] bencook commented on #834
More importantly, as derivative works of the original C coreutils, this must be licensed under the GPLv2 as well.

[2016-03-22 18:43] ivegotasthma commented on #834
@bencook Why v2 but not v3?

[2016-03-22 18:57] Heather commented on #834
@pnathan I know that a lot of people may want to use part of this code for some production maybe or have other reasons of doing different license in mind, however... I don't mind personally I even often like GPL and it's goals (we know there're a lot of haters) so this suggestion may sound a bit agressive for some people and even being agreed with that could be agressive, we just respect owners op

[2016-03-22 19:00] bencook commented on #834
@ivegotasthma  It would be whichever the original program is licensed under.

[2016-03-22 19:19] Heather commented on #834
people please, don't start this holy war here, it's not constructive

[2016-03-22 19:21] willneumob commented on #834
Wouldn't the LGPL at least be a good compromise?

[2016-03-22 19:42] pnathan commented on #834
@bencook - I would suggest demonstrating the "derivative work" claim - that is a legally binding claim placing requirements on the derivators.  I support moving to the GPL but such a claim should be demonstrated. :-)

@willneumob LGPL is ideal for libraries, but I don't think it affects programs like this: the mandate would apply, and people aren't generally going to be using a libcoreutil (I thin

[2016-03-22 19:45] johnstorey commented on #834
For what it's worth, the first thing I checked was the license. Then I moved the project off my list of potential things to work on.

[2016-03-22 19:47] willneumob commented on #834
@pnathan Well, for a shell script, they are similar to libraries. If I write an extensive shellscript making use of these programs, might I be forced to release my works? I'm not suggesting people would want to actually link it against their code as a library. L is for Lesser, not Library.

[2016-03-22 19:48] Heather commented on #834
@willneumob so people currently share all scripts which are using coreutils?

[2016-03-22 19:53] willneumob commented on #834
@johnstorey Because of GPL or MIT? You're always free to fork the MIT version if that's what you wanted (as far as I understand the law)...

@Heather Well, no, but the coreutils project might technically be within their right to pursue action against someone who does not? I mean, what's the difference between a C developer using a library's API and linking against that library, and a shell script

[2016-03-22 19:54] ivegotasthma commented on #834
@willneumob

Uhh...no

Read up on what the license says.

Please read the license and the wiki page for it.

[2016-03-22 19:58] willneumob commented on #834
I guess LGPL is fairly specific about using shared libraries, so, you're right, it might not apply. I still stand by shell utilities being abstractly similar to libraries, as they are external binaries and the "API" is the command line interface and arguments to the program. But I give up :) It's really not my thing to have an opinion about as I haven't contributed code to this project. Much respe

[2016-03-22 20:29] abique commented on #140
I like the busybox idea.

[2016-03-22 20:46] StefanCristian commented on #834
It's a tough decision to not have it **GPL**... you may contribute to a whole `darker` future for Linux + free software all around the globe...
This may start a lot of negative things, let's look back in the 80s what happened with UNIX flavours themselves... or FreeBSD, which turned by the night into MacOSX.

[2016-03-22 21:40] yincrash commented on #834
I apologize for any inconvenience posting to HN has caused. I hope that the incoming interest and possible future contributions will outweigh any distress.

[2016-03-22 22:31] christianbundy commented on #834
Those who optimize for the freedom of software will have a copyleft fork, those who optimize for a free public will have a permissive fork. If you aren't happy with the current license, fork. The problem solves itself -- there's no need to harass @Seldaek about their obviously intentional decision.

Just a quick note: it looks like there's an [existing GPL fork, which contains a license violation]

[2016-03-22 23:32] ivegotasthma commented on #834
@christianbundy What's the violation? The MIT is there until a certain point, after that everything is GPL. Isn't that how it works?

[2016-03-22 23:46] adelarsq commented on #834
@ivegotasthma need something like [neovim did](https://github.com/neovim/neovim/blob/master/LICENSE) (more than one license).

[2016-03-22 23:49] Dreae commented on #834
@pnathan I don't understand the argument that it's important for the end user to be able to fix the software.  The MIT license certainly doesn't prevent that, if it doesn't work right just fork it, fix it, and rebuild it.

Unless you're worried about someone down the line creating a non-FOSS fork of this and distributing it, in which case just don't use their software.

[2016-03-22 23:50] jahewson commented on #834
@ivegotasthma, the violation is that in your GPL'd fork you've removed the copyright notice which says, amongst other things:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

Obviously, you can't do that. You need to keep the original notice intact and add to it, by saying something such as:

    This software

[2016-03-22 23:56] christianbundy commented on #834
@ivegotasthma Here's the text that you'll required to include (emphasis mine):

this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subj

[2016-03-23 00:18] jahewson commented on #834
I'm not going to weigh-in on the GPL vs. MIT debate, but I'd like to debunk the following remark from @bencook:

Writing a compatible piece of software is not copying and does not constitute a "derivative work" because it is not an adaptation of the original work. It is its own unique work which, while deliberately designed to expose the same interface does not copy the internal workings of the or

[2016-03-23 00:22] adelarsq commented on #834
@johnstorey same as me. It's so hard to work with GPL projects.
@christianbundy since there is an explanation I don't think that really matters. But chronological order is better to follow.

[2016-03-23 00:30] christianbundy commented on #834
@jahewson You're absolutely right. It's even been argued in court, like [that one time that Oracle tried to sue Google for writing OpenJDK, because it used the Java API](https://en.wikipedia.org/wiki/Oracle_America,_Inc._v._Google,_Inc.), just like this project uses the GNU coreutils API. It's possible that other countries may reach a different verdict, but all the evidence points to this being to

[2016-03-23 00:42] jahewson commented on #834
@christianbundy Yes, that particular case is due to be heard all over again, this time regarding fair use. All bets point to Google winning and the word will certainly turn upside down if they don't. The FSF backs Google's defence of what they call [a user's freedom to use APIs](https://www.fsf.org/blogs/licensing/fsf-statement-on-court-of-appeals-ruling-in-oracle-v-google).

[2016-03-23 00:53] Arcterus commented on #831
Currently, I think `libc::umask()` is the only way.

[2016-03-23 00:58] SirCmpwn commented on #834
I wanted to correct this:

So far as I can tell, the original C code has never made an appearance in this project. GPL is not required, and I'm supportive of the MIT choice.

[2016-03-23 01:10] Arcterus commented on #818
We should probably rewrite everything, just in case.  The long help texts should be the first priority though.

[2016-03-23 01:23] bencook commented on #834
@jahewson What evidence do you have that this reimplementation was written in a "clean room" manner to avoid the possibility of being seen as a derivative work?

[2016-03-23 01:32] Arcterus commented on #834
This is correct.

[2016-03-23 01:33] Arcterus commented on #834
@yincrash It's not a problem.  Thanks for posting. :)

[2016-03-23 01:33] SirCmpwn commented on #834
This doesn't need to be written in a clean room setting. GNU coreutils does not own the idea of the core unix tools. These are standardized tools specified by POSIX and implemented many times over. GNU wasn't even the first to implement these tools.

[2016-03-23 03:34] jahewson commented on #834
@bencook, "clean room" is not necessary to avoid being a derivative work, even when directly copying an existing work, as I explain in the middle paragraph of my earlier post. Wikipedia gives [some good examples](https://en.wikipedia.org/wiki/Clean_room_design#Examples) which demonstrate its unnecessariness.

[2016-03-23 07:14] StefanCristian commented on #834
@jahewson do you support this non-GPL project?

[2016-03-23 07:19] Annwenn commented on #834
Spreading FUD to promote GPL isn't helping your cause. :)

[2016-03-23 07:20] StefanCristian commented on #834
@Annwenn It's a root cause vs effect thing.

[2016-03-23 07:58] Shiroy opened #838 "[Linux] Cargo error with uucore"
* **Platform** : Linux
* **Rust version** : `1.7.0`

When I try to build on linux, from scratch, I get the following error message from cargo:

[code]

[2016-03-23 08:48] Marqin commented on #834
And it's great, because thanks to that OS X is not that bad :)

I like the idea of coreutils written in Rust and I hope this project will stay as MIT-licensed, so we will have good alternative to GNU :smile:  ( btw. Rust itself is also [MIT-licensed](https://github.com/rust-lang/rust/blob/master/LICENSE-MIT) ).

[2016-03-23 09:46] StefanCristian commented on #834
@Marqin yeah, because challenging the GNU/Linux world is useful. <sarcasm>
People that just dropped into GNU/Linux world found themselves covered by GPL and restrictions in closed-source-ing everything, turning it into profit and money.

[2016-03-23 11:25] #838 closed

[2016-03-23 12:48] ivegotasthma commented on #834
@Marqin
1) Your argument is [bs](https://en.wikipedia.org/wiki/Argument_from_authority).
2.a) If you're going to stick to it consider that Linux is GPLv2.
2.b) GCC is GPLv3.

@Annwenn

Do you know what FUD is? Read up on OS history.

@christianbundy Eh, cool. A question out of curiosity. When you privatize MIT software you are applying restrictions to the user, right? If I am allowed to close it,

[2016-03-23 12:53] Annwenn commented on #834
Nice try, but it's not because you're not IBM that you can't do FUD :) (now go read about history of politics).

[2016-03-23 13:17] ivegotasthma commented on #834
@Annwenn

You didn't address my point.

That happened and will happen again because corporations have, can and will proprietarize software.

How's that related to politics[?](http://lmgtfy.com/?q=what+does+politics+mean)

[2016-03-23 13:19] StefanCristian commented on #834
@ivegotasthma  I think he meant he supports Trump

[2016-03-23 13:38] lesderid commented on #834
@ivegotasthma

No one is obligated to accept your PR.

It may not, but the original code is still under the MIT license. If you want to develop your fork as a GPL-licensed project, go ahead, no one is stopping you.

@StefanCristian Is this like a new [Godwin's law](https://en.wikipedia.org/wiki/Godwin%27s_law)?

[2016-03-23 13:49] StefanCristian commented on #834
@lesderid seems like it, heh.

[2016-03-23 14:46] ivegotasthma commented on #834
@lesderid

I don't see where I even implied that.

If I understand you correctly, I can just clone this project, slap on GPL and be done with it, right?

@StefanCristian How's that even an argument? XDDD LE FUNNY WALL MEME. TRUMP LOLOLOL DXXXXDDXDDXXXX THEY SO DUMB AHAHAHAHH!!!!!!!111

[2016-03-23 14:58] joecannatti commented on #834
Seems like there's a lot of confusion in the thread about what this really means. The crux of the decision is whether the creators would want a company to be able to package these tools into a non open source system. The answer for these sorts of tools is usually, no. Would the creators of this software be okay with, as a hypothetical example, Apple replacing their BSD tools with these on OSX , ma

[2016-03-23 15:01] lesderid commented on #834
@ivegotasthma

I guess I misinterpreted. Nevertheless, you can't just 'force' a project to use any license. AFAIK, the PR can't legally be merged if not all contributors are fine with relicensing the whole project under the GPL (IANAL though).

Sure, but you do have to keep the MIT license notice for files that were previously licensed under the MIT license, as the license explicitly requires you

[2016-03-23 15:29] StefanCristian commented on #834
@lesderid What reason would be to not license it GPL?
Let's just name them [to be on subject].

[2016-03-23 15:54] christianbundy commented on #834
@ivegotasthma Let's use a metaphor: pretend that you're moving into a place, and the landlord gives you this fridge magnet with their contact information:

Their *only* request is that you follow that single rule, with no other restrictions.You decide to sublease to someone else, and after they fill out their paperwork you give them a fridge magnet with a bunch of other rules. Now, should the new

[2016-03-23 16:55] Marqin commented on #834
For those waiting for creator's optinion - [he's in travel](https://twitter.com/seldaek/status/712682821207343105).

[2016-03-23 16:56] Annwenn commented on #834
And the person who opened the issue doesn't post anymore. Well, this end the troll.

[2016-03-23 16:58] pnathan commented on #834
Hi, as the filer of this bug, I would ask that personal comments be not present. @ivegotasthma @StefanCristian - looking at you.

This is precisely what I am asking: Is this ok? I don't want to contribute to systems that other people can grab without sharing my contributions & theirs out.   If, however, uutils goes GPL, I am _very_ likely to contribute to it.

[2016-03-23 16:59] pnathan commented on #834
@Annwenn Perhaps it's better to have the community discuss things, rather than stirring the pot. (And, oh, I have a job, and it was night. :-p).

[2016-03-23 17:50] jahewson commented on #834
Yes, you are allowed to *sublicense* but you're not allowed to *relicense*. So you can add the GPL to the existing license (it's compatible). But you can't remove the existing license, because that existing license is the only thing which grants you *any* right to copy or distribute the original source code. By default copyright law gives you zero rights to someone else's work unless they grant yo

[2016-03-23 21:10] ibabushkin opened #841 "Implement pathchk"
I have already written the code and cleaned it up, it still needs integration tests.
However, I will wait for ~1 week with a PR because I will be on vacation and I'd like to look over my still fresh Rust, as my experience with this language is limited (read: almost zero).

Edit: if you want to comment on my contribution, here is the relevant part of the fork:
https://github.com/ibabushkin/coreutil

[2016-03-24 07:47] schaiba opened #842 "'make (dist)clean' fails because -f option is given more than once"
The clean target looks like '$(RM) -f $(BUILDDIR)' but it seems that $(RM) expands to 'rm -rf'; the consequence is that rm fails complaining with 'error : Option 'force' given more than once'

[2016-03-24 11:29] Seldaek commented on #834
My two cents as original creator of the project: GPL vs MIT/BSD-style is an endless argument, and I don't think we can please both sides, so I'd rather leave it as is.

That said, I have been quite out of touch here, so if the people currently maintaining things feel strongly one way or another, feel free to do the change.

[2016-03-24 11:57] Heather commented on #834
I'd vote for GPL actually
But my vision of GPL here is a bit different from shared visions in thread, as far as I understand (correct me if I'm wrong) even using GPL license copyright owners can change it / sell it anytime with developers to some big corporation alike evil apple thing (if I'm wrong here then I don't like GPL)
And honestly I don't care much, so my opinion shouldn't be taken serious

[2016-03-24 12:42] Seldaek commented on #834
@Heather with GPL AFAIK you lose the freedom to do commercial things in a closed source manner. You could sell the project copyright I suppose, although I am not sure how that flies when you have X contributors. However the evil corporation buying it would still have to release the modified source if they make any modification.

That's the main conceptual difference between those two licenses, MIT

[2016-03-24 12:46] Heather commented on #834
@Seldaek honestly yes... I can't be sure whether it's possible or not to switch from GPL even when full core team is agreed to be sold but at least it's much more complicated

[2016-03-24 13:08] StefanCristian commented on #834
@Heather it is possible to switch from GPL to another license if the whole contributors agree.
But I'm sure the MIT license is not what you want, unless you want to allow the projects parts' to be closed-source and distributed under a payable closed-source form.

[2016-03-24 13:25] projectilemotion commented on #834
@Seldaek

This is based on a very limited definition of "freedom" which is "the ability to do whatever you want". Yet everyone would seem to agree with limiting some freedom - such as forcing the inclusion of the original copyright notice when one re-distributes, as the MIT license requires us to do.

As such, if we can call the MIT license as enabling freedom and the GPL license not enabling free

[2016-03-24 17:39] christianbundy commented on #834
@projectilemotion I understand that you're trying to be persuasive, but it's intellectually dishonest to pretend that people who choose permissive licenses aren't "thinking in terms of everyone who uses software now and in the future". There are two viewpoints, with both advantages and disadvantages, and if it wasn't a gray area, we wouldn't be having this discussion. We'd all love to see a world

[2016-03-24 17:51] pnathan commented on #834
@christianbundy

It would probably be in the best interests of a civil discussion if you
removed the "f----ism" word, as that's a great way to attract misguided
rants.  It's plausible the "a-----ism" word should also be removed too, for
that identical reason.

You are correct that one relies on the legal system to guarantee
libre-ness, and one relies on the goodwill of others.  My opinion, having

[2016-03-24 17:53] jahewson commented on #834
@projectilemotion, what you say captures nicely the philosophical difference which underpins this debate:

Yet the GPL does so by limiting the freedom of those very people, to build upon and redistribute the work in the manner that they wish. So there's a philosophical contradiction - hence this discussion.

Yes and no. The MIT license provides the same four freedoms as the GPL, it just doesn't fo

[2016-03-24 18:29] projectilemotion commented on #834
I don't think it's fascism to tell people that you would like your code used in a particular way. Wouldn't you say that it's even more "fascistic", by your own definition, to allow the code to be used in software covered by EULAs made by the likes of Microsoft, Apple and Sony, which prevent class-action lawsuits and in fact limit for what purpose you can run the software? If one considers that the

[2016-03-24 18:41] christianbundy commented on #834
removed the "f----ism" word, as that's a great way to attract misguided
rants.  It's plausible the "a-----ism" word should also be removed too, for
that identical reason.

@pnathan I think that asking me to censor myself is inappropriate, but if my words make you uncomfortable I'd be happy to use generalized words like "authoritarian" and "libertarian" instead. In the future, I'd recommend against

[2016-03-24 19:39] christianbundy commented on #654
This may work better as a pull request rather than an issue.

[2016-03-24 19:46] pnathan commented on #834
@christianbundy  -  I'm not an anarchist, nor do I subscribe to anarchist-syndicalist presuppositions, which your objections to the GPL are rooted in. If pushing to have a ground rule that improves society at large is paternalism/authoritarian (I don't agree that it is - I call that the fundamentals of a civil society), then so be it.

---

Here we have a chance to have a *better* core utils for G

[2016-03-24 19:59] jahewson commented on #834
@projectilemotion

First of all, just to be clear, I'm not involved with this project.

You said it yourself, the GPL takes away your freedoms. Saying that's "as it should be" is an appeal to some sort of cosmic authority and not an argument in support of your position.

The freedom *to do* something and the freedom *from* something are two very different things. This is a major concept in the phi

[2016-03-24 20:35] StefanCristian commented on #834
@jahewson Truly, I must agree with you on some ideas: MIT lets your do more things than GPL.

But again, let's look in perspectives on more 'open' licenses like BSD and MIT and let's do a introspective on what happened with FreeBSD. Where is FreeBSD now? Nowhere on the road.
From 'manageable' licenses like the one FreeBSD was based on, people could fork and close at will. This is a natural cause<-

[2016-03-24 20:38] StefanCristian commented on #834
Personally, to add one more thing, I believe that core-programs, system programs like coreutils, gcc, glibc and kernel... the ones that compose the whole system, should be GPL. The rest? At will, doesn't matter.
But at least the base of everything, the foundation of the systems, should be GPL. At least that. Are we asking too much?

[2016-03-24 20:42] projectilemotion commented on #834
I agree.

I contend that this freedom can be broken down into three options:

* the option to build upon the work as part of a proprietary program
* the option to not build upon the work as part of a proprietary program
* the option build upon the work and not distribute it.

Outside of these there are no options. This freedom would be partially taken away (i.e the first option is disallowed) but

[2016-03-24 22:31] jahewson commented on #834
@StefanCristian

Analogy is not a good form of debate, as it distorts meaning with false associations. There has been enough rich discussion on freedom and its nature over the years that we can surely discuss it at face value. I like that you've identified an example where there are two forms of freedom at work and they sit it contradiction each other, because that is analogous to the GPL vs MIT s

[2016-03-24 22:49] Arcterus commented on #834
I personally don't like the GPL very much.  I would rather use either the MPL or an MIT/BSD-style license.

[2016-03-24 23:22] jahewson commented on #834
@projectilemotion

I'm glad that you're seeing two kinds of freedom now. Because we don't have to agree about how to balance them - it's a matter of opinion.

It depends how you frame it. The GPL takes away the *freedom to* make proprietary redistributions with the goal of giving the user *freedom from* proprietary software which they can't modify and the *freedom from* being beholden to the autho

[2016-03-25 00:14] christianbundy commented on #834
@jahewson Just a quick note on this:

This was true until recently, when the OSI approved the [Free Public License](https://opensource.org/licenses/FPL-1.0.0). In the interest of full disclosure, I was part of the team that pushed applied for its approval, I thought you might like to know that "the bare minimum" has recently been lowered a bit.

[2016-03-25 00:18] projectilemotion commented on #834
@Arcterus Why don't you like the GPL?

@jahewson

This is a caricature of what the user was saying, and it's not very extreme at all in my opinion.

No, I don't see it that way. It can be seen that way, but I would disagree with such a framing. It is only political because we say that we can ascribe the two types of liberties to the left and right. I don't think it is necessarily so.

I do not thi

[2016-03-25 00:41] jahewson commented on #834
@christianbundy, nice work.

[2016-03-25 01:13] jahewson commented on #834
@projectilemotion:

Case in point.

This "massive disadvantage" isn't created by the MIT license. It's created by people not releasing their source code. It's not fair to characterise the MIT license as denying source, it doesn't do that. A company who publishes its MIT licensed source provides no disadvantage to their users whatsoever. The GPL does not have a monopoly on openness.

Again, this is

[2016-03-25 01:57] yincrash commented on #834
I'd like to suggest closing this issue. It seems that most discussion is just a back & forth argument about each person's personal philosophy on what the word freedom is. I think a fork is sufficient if someone personally feels they need a GPL'd version of the project to contribute.

[2016-03-25 04:46] StefanCristian commented on #834
@yincrash well, at least we're pretty clear that some people want both closed and open source projects based on the same product :P

[2016-03-25 08:11] Seldaek commented on #834
Yup. Thanks everyone for keeping this a relatively sane discussion, but I think we've heard enough from both sides. If you want to continue please do so on another platform. I'll lock to contributors in case others here want to voice their opinions but for me I'd still proceed with MIT as we have now.

[2016-03-25 08:30] Heather commented on #834
@yincrash honestly I liked this thread because I take it as experience understanding some Licensing cases.
Many contributors haven't shared opinions but from what I see currently majority of those who did don't liked the idea of switching from MIT.
Personally currently I see many negative aspects of GPL and generally people, e.g. different people have different _understanding_ of different aspects

[2016-03-25 18:14] torkve commented on #698
It seems that no activity here. I'll claim it to myself.

[2016-03-25 21:05] peschkaj commented on #126
I noticed that no work has progressed on this issue since July of 2014.

I've created a barebones implementation of `ls` at https://github.com/peschkaj/coreutils/commit/9716862cfe61bb35615ffe6d08c3d044369aff59

This builds and produces very limited output on Windows with Rust 1.7.0 - current output is roughly equivalent to `ls -l` or `ls -lh`. There's plenty of outstanding work and the lack of tes

[2016-03-26 18:33] fitzgen opened #846 "Implement `tail -f --pid=<PID> ...` to exit tail after the process id <PID> dies"
From tail's man:

[code]

[2016-03-26 18:37] fitzgen opened #847 "Implement `tail --retry <FILE>` to keep trying to open the file <FILE>"
From `tail`'s man page:

[code]

[2016-03-26 18:40] fitzgen opened #848 "Implement `tail -F`, which is the same as supplying both `-f` and `--retry`"
From `tail`'s man page:

[code]

Depends on #847 to implement `--retry`.

[2016-03-26 18:44] fitzgen opened #849 "Implement `tail -z` for null terminated (instead of '\n' terminated) lines"
From `tail`'s man pge:

[code]

[2016-03-26 18:46] fitzgen opened #850 "Write tests for tail's multiplier suffix semantics"
From `tail`'s man page:

[code]

[2016-03-28 05:05] #833 closed

[2016-04-02 09:09] ProgVal opened #857 "Cannot compile: “libstd-9026086f.so: cannot open shared object file: No such file or directory”"
I just cloned this repository. Here is what I get when I run make:

[code]

Debian 8.3
Rust master, compiled this week.

[2016-04-02 09:49] ProgVal commented on #857
Nevermind, `export LD_LIBRARY_PATH=$HOME/.local/lib/` fixed the issue.

[2016-04-02 09:49] #857 closed

[2016-04-02 11:07] #849 closed

[2016-04-02 13:08] ProgVal opened #859 "Functions in tests/common/util.rs are not documented"

[2016-04-02 19:07] fitzgen commented on #850
I just realized that this is already implemented (d'oh) but it is completely untested. Ideally, we should unit test this unit conversion (ha) direcctly since it seems pretty easy to pull out from the inside of `tail`.

[2016-04-02 21:59] #850 closed

[2016-04-08 11:26] ProgVal opened #864 "tail: -f only follows the last file"

[2016-04-12 15:11] junjiemars opened #865 "tr is broken when making on 'commit 2ab055445b410f197178fa5ce705ea7911bc0c5c'"
[code]

I tried 2 boxes one Ubuntu 14.04 64-bits another is OSX 10.11, the result is same.

[2016-04-14 17:56] ebfe commented on #865
Which rust version? Can't reproduce on master with rust 1.7 or 1.8.

[2016-04-15 05:29] modelorganism opened #866 "od falls into infinite loop printing last offset when done"
When uuutils-od finishes printing its output, it follows with infinitely many lines contiaining the last offset. Other versions of `od` print only one copy of this line.

[2016-04-15 08:41] junjiemars commented on #865
Hi, @ebfe , the version is 1.7

[2016-04-15 11:04] #866 closed

[2016-04-26 23:32] wy193777 commented on #126
How could I get file MetadataExt for Windows? I couldn't get functions under MetadataExt on Windows.

[2016-04-26 23:50] peschkaj commented on #126
The best bet for getting file metadata on Windows would be asking @retep998 - he maintains https://github.com/retep998/winapi-rs/. If nothing else, he can point you in the right direction.

[2016-04-27 00:31] wy193777 commented on #126
Thanks, I've found what I want. Because I just have one Windows PC, I will just write it for windows.

[2016-04-27 04:25] retep998 commented on #126
The documentation for `std::os::windows::fs::MetadataExt` is only included with the Windows distributions of Rust, so you can't use the online documentation for that. If `MetadataExt` doesn't provide all the information you want you can call [`GetFileInformationByHandleEx`](https://retep998.github.io/doc/kernel32/fn.GetFileInformationByHandleEx.html) ([MSDN](https://msdn.microsoft.com/en-us/librar

[2016-04-28 01:13] wy193777 commented on #126
Today I spend lots of time trying to call `GetFileInformationByHandleEx` and get file info. Before I call `GetFileInformationByHandleEx`, I first need to call [`CreateFileA`](https://retep998.github.io/doc/kernel32/fn.CreateFileA.html) But this function couldn't get a file handle if the file has been opened. What should `ls` do if a user wants opened file's i-node number on Windows?

[2016-04-28 02:38] retep998 commented on #126
If you have an `std::fs::File` then you can use `std::os::windows::io::AsRawHandle::as_raw_handle` to get a handle from the file, and then you can pass that to functions like `GetFileInformationByHandleEx`. Also you really don't want `CreateFileA` as that is not unicode friendly whatsoever.

[2016-04-30 20:41] #788 closed

[2016-04-30 23:35] wy193777 commented on #126
What's the Windows equivalent for Unix/Linux file Owner and Group name?

[2016-05-01 00:37] retep998 commented on #126
There is a direct Windows equivalent for file owner. There is no equivalent group owner. There is most definitely no chmod equivalent. There is a delightfully complicated access control list system but that's sufficiently overwhelming that an entire library would need to be dedicated to that.

[2016-05-05 14:15] mrmiywj commented on #847
Hi, I will pick this up.

[2016-05-05 16:34] mrmiywj commented on #848
@fitzgen
Hi, I read through the man page, it shows that --follow is allowed to be with `name` or `descriptor`, which means different ways to print the file. But our implementation, it looks like only `descriptor` mode is supported, which is not compatible with `--retry`.
I do think `name` and `descriptor` modes should be separated.

[2016-05-06 09:23] mrmiywj commented on #848
Hmm, actually the files' metadata API is unstable now, is there any solution to know whether the file changes or not?

[2016-05-07 09:57] yuuki opened #873 "Implement mknod"
I'd like to work on this.

[2016-05-07 10:10] knight42 commented on #873
hi, I've fired a [PR](https://github.com/uutils/coreutils/pull/872) on this

[2016-05-07 10:16] yuuki commented on #873
oh, `3 hours ago`.  I'll close this issue. Thanks.

[2016-05-07 10:16] #873 closed

[2016-05-07 10:21] knight42 commented on #865
Same problem here.
[code]

[2016-05-07 12:52] knight42 opened #874 "Implement `dircolors`"
I' ll work on this.

[2016-05-08 21:02] cstruct commented on #441
Have you made any progress on this?

[2016-05-11 01:39] #874 closed

[2016-05-11 13:09] knight42 opened #876 "Implement `stat`"
It may take some time as I get busy recently

[2016-05-15 02:53] jbcrail commented on #865
The root of the problem is the `vec_map` library used by `tr`. In `vec_map` 0.4, the `get` method accepted `&usize`. For 0.5 and later, `get` switched to `usize`.

Depending on whether coreutils is built using `make` or `cargo build`, different versions of `vec_map` will be downloaded since `src/tr/Cargo.toml` doesn't pin `vec_map` to a certain version.

If we pin to the latest version and change

[2016-05-15 06:12] #865 closed

[2016-05-21 05:01] #804 closed

[2016-05-21 05:05] Heather opened #879 "dircolors is broken on windows"
fix or make it linux only

[2016-05-21 09:40] knight42 commented on #879
Where could I see the error message?

[2016-05-21 14:08] #879 closed

[2016-05-23 03:38] jbcrail opened #886 "cksum: stack overflow on Windows"
The `cksum` tests fail on Windows with the following errors:

[code]

[2016-05-23 18:37] jbcrail commented on #886
This error happened on the `x86_64-pc-windows-msvc` target.

[2016-05-23 22:12] nathanross commented on #886
@jbcrail  example resolution, forget whether it's actually scalable or not, but might be useful to you. https://github.com/nathanross/coreutils/commit/cd3878dfefa513edbbf41c6f998575844bc0a44b

Thanks for picking up my appveyor slack btw

[2016-05-24 03:14] jbcrail commented on #886
Your commit worked perfectly. 👍 I cherry-picked it to give you proper attribution.

Thanks! Fixing AppVeyor was a learning experience.

[2016-05-24 04:07] #886 closed

[2016-05-25 08:31] awestroke commented on #687
This can be closed now, I think. The information has moved to [CONTRIBUTING.md](https://github.com/uutils/coreutils/blob/master/CONTRIBUTING.md) and is no longer out of date.

[2016-05-25 08:35] awestroke commented on #8
This is implemented and merged here: #138
This issue can be closed

[2016-05-25 08:47] awestroke commented on #44
@neolem are you still working on cp?

[2016-05-25 09:29] abbasfaisal commented on #176
Is anyone working on this? I want to take this up. @filipegoncalves @zvms

[2016-05-25 18:16] filipegoncalves commented on #176
Nope, I never made any progress, other things got in between. From my side you can take it over.

[2016-05-27 14:10] neolem commented on #44
@awestroke I am not working on this. This is up for grabs.

[2016-05-30 19:17] mdsn commented on #864
Hello, I got some code to fix this issue and follow multiple files. I'd like to get reviews on it as it's the first rust code I write.

[2016-05-30 19:19] ProgVal commented on #864
My first Rust code was for this repo too :)

Feel free to send a PR

[2016-05-30 19:25] ProgVal commented on #864
The `follow-multiple` branch on your repo looks good.
Could you write a test for this feature?

[2016-05-30 19:33] mdsn commented on #864
Thank you, I will. I'll send the PR as it is, since it has some other issues I'd like to get some advice on, and follow up with commits for tests and other changes. Is that ok?

[2016-05-31 06:29] awestroke commented on #864
Pull request: #890

[2016-05-31 09:55] #864 closed

[2016-05-31 13:51] mdsn opened #891 "tail -f doesn't follow stdin"
I'll be doing this as it was pending from the previous PR.

[2016-06-01 04:30] #891 closed

[2016-06-01 22:59] dylanscode commented on #811
Sorry for the lack of communication, that's never excusable.

The program is mostly done, the issue is finding a way to set the system date using pure Rust. I'd be happy to push what I have so far, but my impression is that you'd rather wait until I have fully working version.

[2016-06-05 05:32] knight42 commented on #876
#893

[2016-06-05 05:32] #876 closed

[2016-06-05 05:33] knight42 commented on #378
#893

[2016-06-07 12:36] #834 closed

[2016-06-11 12:48] palaviv commented on #219
I am working on adding more options to sort.

[2016-06-14 17:28] #841 closed

[2016-06-17 15:47] #687 closed

[2016-06-19 17:37] #831 closed

[2016-06-20 13:37] nkowdley commented on #208
Is this still in progress?  If not, I'd like to take this up

[2016-06-20 13:39] nkowdley opened #904 "getlimits"
I'd like to work on implementing getlimits

[2016-06-21 06:18] mpkh opened #905 "groups fails to compile on windows"
[code]

[2016-07-09 18:47] smigle00 opened #908 "Implement arch"
I would like to implement arch command which can be used to display machine architecture.

[2016-07-09 19:27] smigle00 commented on #908
Completed implementation of 'arch' command.

[2016-07-10 04:25] smigle00 opened #910 "Implement remove"
I would like to implement remove utility.

[2016-07-10 04:25] smigle00 opened #911 "Implement numfmt"
I would like to implement numfmt utility.

[2016-07-10 05:16] #908 closed

[2016-07-10 08:39] smigle00 commented on #910
Completed initial implementation of 'remove' utility.

[2016-07-10 11:36] smigle00 commented on #910
Added unit test cases as well. Creating pull request

[2016-07-10 11:44] mpkh commented on #910
@smigle00 what is remove?

[2016-07-10 22:09] #910 closed

[2016-07-11 15:13] knight42 commented on #905
As `groups` is an unix program, why would `groups` get compiled on windows?

[2016-07-12 03:06] jbcrail commented on #763
Closing issue since the Windows build passes now.

[2016-07-12 03:06] #763 closed

[2016-07-12 18:33] beneills commented on #441
I'm assuming that no progress has been made since 2014, and am now working on this.

[2016-07-13 04:26] mpkh commented on #441
closing for now

[2016-07-13 04:26] #441 closed

[2016-07-17 09:46] nathanross commented on #859
@ProgVal I've started working on this

[2016-07-17 09:51] nathanross commented on #818
@ebfe  @Arcterus good points.

I'll find some time this month to skim long helps for copy-pastes and replace instances. This may take me a long time as some of the utilities have many features that must be documented.

If I encounter an error scenario when writing tests, I will check to see if the implementation has a unique error message, and if not will provide one in the test (and if applicable

[2016-07-17 18:16] wimh commented on #237
As this issue seems to be inactive, I would like to continue with the remaining features.

[2016-07-17 18:47] wimh opened #922 "Question: should od pad spaces?"
`od` currently adds spaces if the line is shorter then the other lines. See this example output taken from [the test](https://github.com/uutils/coreutils/blob/e909e665f07645eebefdb846548a795540746011/tests/test_od.rs#L11):
[code]
Here the second line is space padded until it's length matches the first.

This is [explicitly coded](https://github.com/uutils/coreutils/blob/e909e665f07645eebefdb846548

[2016-07-23 18:04] wimh commented on #922
I have decided to remove the trailing spaces. It needs refactoring to support features which are currently not implemented. But it does not work correctly at this moment. So instead of fixing it, I'll remove it for now. (54790476cd4ce47f6886d2994a77dcbfe87527e4)

[2016-07-23 18:04] #922 closed

[2016-08-01 19:12] nathanross opened #930 "Can I be added to the uutils organization?"
* I've shown continual, rather than once-off dedication to the project's mission through continual contributions in the back-of-the-restaurant work of integration tests and tooling.
* I'm familiar with a lot of the codebase and with more complex aspects of rust, and think I'm in a good position to judge pull requests, especially those pertaining to integration tests.
* I've made an effort to respo

[2016-08-01 19:35] mpkh commented on #930
If could vote I'd vote for this, so far only @jbcrail can make such changes

[2016-08-02 02:13] knight42 commented on #930
@mpkh Thanks :heart_eyes:! It is my great honor if I could join this project!

[2016-08-02 11:22] Arcterus commented on #930
I just invited both of you to join, so I'm going to close this issue now.

[2016-08-02 11:22] #930 closed

[2016-08-02 11:30] mpkh opened #931 "should we provide uucore as separated cargo library?"
and use it inside coreutils like git submodule or cargo package with fixed version?

why I think it could be useful:

basically if someone will like to use same functional as provided by some coreutil he will currently be forced to overtake either code from util and code from uucore, having it as cargo library it will be possible for him to avoid second copy-paste and getting for us potential cont

[2016-08-02 21:05] alsuren commented on #219
I have a patch to implement --stable in https://github.com/alsuren/coreutils/tree/sort--stable , but this is my first rust project, so there are a few things wrong with it. Should I create a PR out of my WIP branch now, or should I write some tests first (and work out how to avoid calling String::cmp twice as many times as necessary when someone calls `yes | head | sort`) before I submit the PR?

[2016-08-02 21:31] nathanross commented on #219
@alsuren I added a line item in your commit there about the issue you were looking to work out.

You don't need to add tests to submit implementation additions or fixes, just submit it when you're ready.

[2016-08-02 22:30] wimh commented on #931
I am new to rust, so you should probably not listen to me. However I can give some comments....

* If uucore is moved into a different git repo, you will probably lose some history (git blame).
* uucore seems to contain miscellaneous code. I am not sure if someone would find uucore on crates.io if the description does not match the content. For example would I find it if search for something to pa

[2016-08-03 02:05] #655 closed

[2016-08-03 02:08] #738 closed

[2016-08-03 07:01] alsuren commented on #219
@nathanross: I added test and submitted PR (https://github.com/uutils/coreutils/pull/932). Thanks for the help.

[2016-08-04 13:02] knight42 commented on #904
`getlimits` doesn't seem to be part of coreutils. Plz see our new [TODO list](https://github.com/uutils/coreutils#to-do).

[2016-08-04 13:02] #904 closed

[2016-08-04 13:03] #378 closed

[2016-08-04 13:03] knight42 commented on #502
Already implemented.

[2016-08-04 13:03] #502 closed

[2016-08-04 13:04] knight42 commented on #535
`setuidgid` doesn't seem to be part of coreutils. Plz see our new [TODO list](https://github.com/uutils/coreutils#to-do).

[2016-08-04 13:04] #535 closed

[2016-08-04 13:04] knight42 commented on #698
Already implemented.

[2016-08-04 13:04] #698 closed

[2016-08-04 13:06] knight42 commented on #198
Already implemented.

[2016-08-04 13:06] #198 closed

[2016-08-04 13:10] knight42 commented on #407
Already implemented.

[2016-08-04 13:10] #407 closed

[2016-08-04 13:28] #842 closed

[2016-08-05 01:55] frewsxcv commented on #931
For the record, [it is possible to retain git history for this scenario](https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/).

[2016-08-05 05:44] jbcrail commented on #931
My original intent for creating `uucore` was to eventually have a separate Cargo package with a separate development timeline.

Pros include (as noted by @mpkh):
* improved testing (none at the moment)
* central point to encapsulate cross-platform issues (ideally utilities could be platform agnostic)
* library for [common options](http://www.gnu.org/software/coreutils/manual/html_node/Common-optio

[2016-08-05 06:17] mpkh commented on #931
/summon @nathanross @knight42 @ebfe @Arcterus

[2016-08-05 11:02] knight42 commented on #931
Providing `uucore` as a separated library sounds good to me, but personally I would postpone it, because `uucore` has not been stable:

* The declarations of C structs and functions in `uucore`, especially in `uucore::c_types` and `uucore::utmpx` should be moved to `libc`
* New modules may be added to `uucore` in the future as the whole project hasn't finished

Therefore separating `uucore` leaves

[2016-08-06 06:49] nathanross commented on #931
I have two opinions and a question.

#### opinion 1. Spinning out uucore into a separate repository is fine with me, I do not think this decision needs to wait on questions of whether and what audience uucore will have outside of uutils.

#### opinion 2. Deciding to change / not change uucore's mission/audience can be considered a separate decision, and I think it is one where we benefit from firs

[2016-08-06 06:58] mpkh commented on #931
from current positions I think it's better not to change at the moment. @nathanross yes I think it could  be another question/issue/poll...

[2016-08-06 06:58] #931 closed

[2016-08-06 17:27] knight42 opened #941 "Implement md5sum, sha*sum"

[2016-08-06 17:47] Arcterus commented on #941
I'm pretty sure these are already implemented as part of `hashsum`.

[2016-08-06 17:52] knight42 commented on #941
Awesome! And thanks for pointing it out in an early stage!

[2016-08-06 17:52] #941 closed

[2016-08-07 00:22] #8 closed

[2016-08-08 00:19] jadbox opened #947 "Missing xargs"
https://en.wikipedia.org/wiki/Xargs

[2016-08-08 00:40] nathanross commented on #947
Xargs is part of the GNU findutils project, (vs. the coreutils project), so it's outside of the scope of this project. However we're definitely interested in staying in the loop about other rust implementations of ubiquitous CLI utilities, so if you end up writing a rust Xargs, let us know.

[2016-08-08 00:40] #947 closed

[2016-08-08 02:32] nathanross opened #949 "Discussion: tracking issues on implemented utilities"
Even for implemented utilities (where the *new impl claim* issue has closed), there are to-dos that definitely remain for them, such as:

1. writing integration tests for the utility
2. writing original help text and error messages for the utility (see #818)
3. reporting, and resolving bugs or incorrect behaviors in utilities.

As this work gets underway on these, it would be nice to be able to qu

[2016-08-09 17:03] knight42 commented on #208
I will take this.

[2016-08-10 15:22] Apanatshka opened #959 "Break tests/common into a separate crate?"
I found your integration test utilities for command-line tools through [this reply](https://users.rust-lang.org/t/whats-everyone-working-on-this-week-32-2016/6824/6) on "What's everyone working on". I'm also [writing tests](https://github.com/BurntSushi/cargo-benchcmp/pull/10) for a command-line tool and your utility functions look very useful! Can you break it out into a separate crate and publis

[2016-08-11 08:26] #208 closed

[2016-08-11 12:24] wimh commented on #959
For clarification, do you mean [util.rs](https://github.com/uutils/coreutils/blob/master/tests/common/util.rs) and it's dependencies?

Regarding assert_cli, this project is MIT licensed. assert_cli is dual MIT and Apache licensed. That means it is not possible to combine it into assert_cli, unless all authors approve. (The main reason is Apache including a patent grant which MIT does not).

But I

[2016-08-11 13:35] nathanross commented on #959
I'm glad you are trying to help @Apanatshka but I believe you are providing incorrect information here.

Cargo-benchcmp being dual-licensed with unlicense does not preclude it from using MIT dependencies as long as it is distributed with a proper copyright notice for those dependencies, and in a way that communicates that it is the source code of benchcmp itself, and not its dependencies, that is

[2016-08-11 14:08] Apanatshka commented on #959
Great! Thanks 👍

Understood. I think it would make sense for uutils to maintain it since you guys wrote it and are the primary (currently only) users. But ultimately it matters more that it *is* maintained than *who* maintains it.

[2016-08-11 15:06] wimh commented on #959
That is correct, but the Unlicense allows you to distribute binaries **without copyright notice** of the dependencies. If the Unlicense applied only to the source code, there would be no problem. But the Unlicense explicitly allows binary distributions.

Of course it is not a problem until someone distributes binaries (using the Unlicense). And it is also not a problem as long as noone whose copyr

[2016-08-11 15:45] nathanross commented on #959
@wimh I appreciate your passion for the topic.

I think I can see your drift here (that people statically linking binaries based off of both projects may, through an unfamiliarity with licensing, unintentionally violate licenses of dependencies when distributing those binaries).

As you say, this is a concern more for downstream projects, and less for the spin-out library discussed here,  that mus

[2016-08-13 01:02] dmilith opened #966 "No "pinky" command under OS X 10.11"
Shot with failed test: http://ół.pl/e8213645432a3d118c2264ff60692d64.png

[2016-08-13 01:20] nathanross commented on #949
@Arcterus @ebfe @jbcrail @knight42 @mpkh summoning to see if there's any feedback on this

[2016-08-13 06:38] mpkh commented on #949
I understand how first approach will help but not sure about second, still prefer second thought if you know that it will really help there.

[2016-08-14 01:07] jbcrail commented on #949
I prefer the second approach since I've found projects (like Rust) that use this approach are easier to contribute to. It's especially helpful for newcomers to find issues that match their interest.

[2016-08-14 04:21] knight42 commented on #966
@dmilith Thanks for your report.
Actually people indeed cannot find `pinky` on  OS X since GNU coreutils is not installed by default.

However,  whether `pinky` is absent or not doesn't matter, because `pinky` obtains  desired info by calling some C functions. I guess the problem is caused by the difference  between your OS's environment and travis CI's and this test may be ignored.

Anyway, as yo

[2016-08-14 04:32] knight42 commented on #949
The second approach looks great, I am in favor of it.

[2016-08-14 10:56] dmilith commented on #966
There're simply no such command in base system in OSX 10.11. So it's more about skipping test of "pinky" under OSX :)

[2016-08-14 13:32] knight42 commented on #966
ok, will do

[2016-08-14 13:32] #966 closed

[2016-08-17 07:58] Arcterus commented on #949
I agree that the second approach is better.

[2016-08-17 11:01] nathanross commented on #949
Alright, the second approach is the choice.

I've created a category schema that I kept very close to the example schema given above, with some minor additions and differences, the key ones being:

- (A) is now (U), so that people now to the project don't have to scroll down so much to see what the other categories are.
- The label "low priority," had previously been used, so instead of deleting i

[2016-08-20 07:23] ebfe opened #972 "pinky: test assumes root has /bin/bash as login shell"
thread 'test_pinky::test_long_format' panicked at 'assertion failed: `(left == right)`
    (left: `"Login name: root                        In real life:  root\nDirectory: /root                        Shell:  /bin/bash"`,
    right: `"Login name: root                        In real life:  root\nDirectory: /root                        Shell:  /bin/sh"`)', tests/common/util.rs:94

[2016-08-20 07:25] ebfe opened #973 "who: truncates ipv6 addresses"
thread 'test_who::test_short' panicked at 'assertion failed: `(left == right)`
    (left: `"root       pts/2        2016-08-20 09:12 (aaaa:bbbb:cccc:dddd:eeee:ffff:aaaa:bbbb)"`,
    right: `"root       pts/2        2016-08-20 09:12 (aaaa:bbbb)"`)', tests/common/util.rs:94

[2016-08-20 11:52] Apanatshka commented on #959
@nathanross: What's the status on this?

[2016-08-20 12:34] knight42 commented on #905
@mpkh is this still a problem now?

[2016-08-20 13:16] #972 closed

[2016-08-20 13:16] #973 closed

[2016-08-20 14:53] #949 closed

[2016-08-20 18:41] mpkh commented on #905
@knight42 can't reproduce atm

[2016-08-20 18:41] #905 closed

[2016-08-21 10:39] #224 closed

[2016-08-22 13:17] nathanross commented on #959
Okay, I've got a usable crate up and running. It can be added with ```second_law = "0.2"``` in the Cargo.toml dev-dependencies

[repo link](https://github.com/nathanross/second_law) - I still need to edit down the readme a lot.

[example usage with stainless](https://github.com/nathanross/second-law-test/blob/master/tests/test_stainless.rs)

[example usage with vanilla tests](https://github.com/na

[2016-08-22 13:18] nathanross commented on #959
Forgot to ping @Apanatshka

[2016-08-22 17:52] Apanatshka commented on #959
Thanks a million @nathanross! :smiley:

I would strongly advise you to start using this new crate in uutils now. But that's up to you. For me, this issue is resolved. I will hopefully have time to try out `second_law` next weekend.

[2016-08-22 17:52] #959 closed

[2016-08-23 11:57] knight42 commented on #859
I guess this can be closed now? @nathanross

[2016-08-23 11:59] knight42 commented on #140
duplicated #747

[2016-08-23 11:59] #140 closed

[2016-08-23 12:06] #859 closed

[2016-08-23 12:16] knight42 commented on #211
* [x] Only the driver sets the exit code.
* [ ] ~~All `crash!` calls get converted to fail!; some should be updated in the future to propagate the errors instead.~~
Now `crash!` calls `show_error!` at first, then set the exit code. I just grep the project's code and it turned out that most calls of `crash` will set the exit code to 1. I think that's ok.
* [x] `show_error!` stops setting the exit c

[2016-08-23 12:16] #211 closed

[2016-08-23 12:18] knight42 commented on #654
`getopts` works fine at present and I guess there is no need to switch to `docopt`.

[2016-08-23 12:18] #654 closed

[2016-08-23 12:19] #488 closed

[2016-08-26 07:44] Anachron opened #982 "Fix chgrp"
I am on mobile, so please forgive my bad bug report.

Inside chgrp the check for root is not sufficent:
if f == "/" && self.preserve_root && self.recursive {

One also has to check for // since that will be translated to / as well.

[2016-08-26 10:29] knight42 commented on #982
Good point :+1: ! Would you like to submit a PR?

[2016-08-27 16:09] knight42 commented on #982
@Anachron  I've opened a PR for this. Does it solve the problem?

[2016-08-27 18:51] #982 closed

[2016-08-27 23:38] #560 closed

[2016-08-27 23:47] knight42 commented on #673
`winapi::DRIVE_FIXED` does exist, see [here](https://retep998.github.io/doc/winapi/winbase/constant.DRIVE_FIXED.html). Not sure why this happened. Close for now.

[2016-08-27 23:47] #673 closed

[2016-08-31 00:38] Arcterus commented on #817
I think having consistent output across all platforms is probably a good idea, although I would still try to make it as drop-in replacement friendly as possible for Linux.  Basically make it as drop-in friendly as you can while still having consistent output.

[2016-08-31 00:42] Arcterus commented on #696
I would be willing to create a new project under the uutils organization that handles other drop-in replacements, but I would rather that coreutils remains as it is now (_i.e._ only dealing with the rewrite of GNU coreutils).

[2016-08-31 00:45] Arcterus commented on #699
I believe this is fixed for some programs but not all.

[2016-09-19 16:42] marinintim commented on #34
@kureikain, so how is it going?

[2016-09-24 10:08] nathanross commented on #34
@marinintim we'd love to have someone take the lead on the remaining work of ls, as most of it is yet unimplemented, and currently no one is actively working on implementing features for it.

As an aside, this particular issue is a duplicate to #126 , it looks like we just haven't gotten around to closing this, so I'll do that now. If you'd like to notify people that you're making continuous chang

[2016-09-24 10:08] #34 closed

[2016-10-04 02:58] Arcterus commented on #376
@nathanross is this utility fully implemented, or is it still missing something?

[2016-10-05 04:26] zethra opened #990 "unresolved import `nix::sys::termios`. Could not find `sys` in `nix`"
When building `more` I get this error
<pre>unresolved import `nix::sys::termios`. Could not find `sys` in `nix`.
src/more/more.rs:22:5
use nix::sys::termios;</pre>

I'm running Windows 10 and rust version 1.12 stable

[2016-10-06 21:50] wimh commented on #990
I could reproduce that and created a pull request which should fix the error: #991

Note that very little has been implemented. The status pages says: "[ ] more (in progress, needs lots of work)". On windows you even have to press enter after a space to scroll to the next page....

[2016-10-06 22:17] nathanross commented on #376
it's missing C99 hex float printing. I'll see if I can find time to do it this weekend.

[2016-10-06 22:48] #990 closed

[2016-10-06 22:50] nathanross commented on #990
@zethra if you still have similar trouble with more, let me know and this issue can be reopened

[2016-10-06 23:45] zethra commented on #990
@nathanross Thank you.  I'll wait until more is more done.

[2016-11-07 11:41] NickMcAvoy commented on #220
Considering a major goal of the project is easily running on Windows, the dependency on msys or cygwin is a little disappointing. I'd love it if `cargo` was all I needed.

[2016-11-07 12:29] nathanross commented on #220
@NickMcAvoy cargo is all that is needed, however you have successfully identified an issue that the README needs to be updated to reflect that MSVC builds can work as well. (If you click the appveyor badge on the repository page, you can see the tests for windows MSVC Rust are passing just as much as those for Windows GNU Rust).

As you likely know, use of MSVC requires installing the [Microsoft V

[2016-11-10 23:13] #237 closed

[2016-11-19 12:29] wimh opened #996 "stat -c %m with bind mounts"
`stat -c %m` using a bind mounted file or directory works inconsistent between our version and gnu coreutils. It is not fully clear what the expected behaviour is. The gnu documentation does not match the code.

Because the integration tests on travis run in a docker container, this caused tests to fail after travis updated the container with `/dev/zero` bind mounted to the host:

[code]

[2016-11-19 12:34] #658 closed

[2016-11-19 12:36] wimh commented on #996
from ebfe #995:

[2016-11-20 21:26] wimh commented on #996
Seems unrelated to the rust version, but more likely a config change on travis.

stat reads the second column from /etc/mtab to determine mount points. /dev/zero is separate listed on travis:
[code]
full /etc/mtab file on travis:
[code]

[2016-11-20 22:25] wimh commented on #996
If I understand the source correctly, gnu stat does not consider a file to be mountable, `find_mount_point` starts the search for a mount point at the directory where a file is located. So it can never return /dev/zero: http://git.savannah.gnu.org/cgit/coreutils.git/tree/src/find-mount-point.c#n27
(called from: http://git.savannah.gnu.org/cgit/coreutils.git/tree/src/stat.c#n944)

[2016-11-21 16:16] tshepang commented on #811
I would rather we have an incomplete version. Also, a bunch of the other tools are also incomplete (last I checked).

[2016-11-21 18:52] wimh commented on #996
To reproduce using docker, build and test in a container with a /dev/zero bind-mount to the host:

[code]

Similar without docker:

[code]

[2016-11-24 20:28] antiagainst opened #999 "Port coreutils to Fuchsia"
Hello team,

uutils/coreutils is an awesome rewrite of coreutils and I'd like to port it to Fuchsia.

As some background, [Fuchsia](https://en.wikipedia.org/wiki/Google_Fuchsia) is a new operating system [under development](https://github.com/fuchsia-mirror) by Google. It is based on a new microkernel called [Magenta](https://github.com/fuchsia-mirror/magenta).

I'd like to see a Rust environment

[2016-11-27 21:30] wimh commented on #996
(this comment was originally posted at #997)

From [the docs](https://www.gnu.org/software/coreutils/manual/html_node/stat-invocation.html#index-bind-mount-1):

The mount point printed by ‘%m’ is similar to that output by df, except that:

 * (...)
 * stat outputs the alias for a bind mounted file, rather than the initial mount point of its backing device. One can recursively call stat until there

[2016-11-30 12:02] Arcterus opened #1004 "Fix --preserve-root"
I'm fairly certain that if the `--preserve-root` in `chgrp` was wrong, it is wrong in other utilities as well.

[2016-12-02 18:46] kbknapp opened #1006 "Thoughts on using clap in certain places?"
What are the maintainers thoughts on using [`clap`](https://github.com/kbknapp/clap-rs) in certain spots? First, let me say that I'm not advocating a wholesale switch to `clap` for all things! :stuck_out_tongue_winking_eye:

I'm just curious if the maintainers are open to some PRs where I think the codebase can become more concise. There's also some nice cases where `clap` provides some additional

[2016-12-02 20:04] Arcterus commented on #1006
I am amenable to swapping either `getopts` or handwritten argument parsers with `clap`.  I have a few though off the top of my head (I may think of more later):
1. How fast is `clap` compared to `getopts`?
2. Can it handle encodings other than UTF-8 as arguments (_e.g._ file names)?
3. How flexible is `clap` in its parsing?  For example, some of the utils currently require handwritten parsers beca

[2016-12-02 21:19] kbknapp commented on #1006
They're basically the same speed. The parts you handroll when using getopts are largely the same things clap does, and at times less efficient since they're hand rolled. To put it in context, viewing the benches in clap's repo: while parsing a somewhat complex argv (i.e. one with multiple conflicts, requirements, multiple values, options, etc.) takes ~7,000 nanoseconds (0.007 miliseconds) on my ma

[2016-12-02 22:31] Arcterus commented on #1006
I meant `sort -r passwd -t :` and `sort -r -t : passwd`, sorry.

Given what you've said, I personally would be willing to accept a pull request replacing `getopts` or a handwritten parser with `clap`, especially seeing as `clap` can handle invalid UTF-8 (unlike `getopts`...).

[2016-12-03 04:32] kbknapp commented on #1006
Ah ok! Those two invocations would produce identical results in clap.

[2016-12-04 20:02] wimh commented on #1004
`chgrp` will still follow a bind mount to root and continue:

    mkdir /root/root
    mount -o bind / /root/root
    chgrp --preserve-root -R root /root -v

The same applies to a symbolic link (with `-H`).

    ln -s / /root/root
    ./target/debug/deps/chgrp --preserve-root -R root /root -v -H

Though it will detect a file system loop if a symbolic link is pointing to a parent directory other th

[2016-12-04 21:06] wimh commented on #1006
I am responsible for the `od` comment mentioned above. What I mean is that `od -o -d` and `od -d -o` should provide **different** results. Looking at the source, a `HashMap` is internally used to store the parsed arguments, so that does not seem possible. I believe this is very exotic behaviour, so I don't expect this to be implemented in a generic commandline parser.

Still it would be possible t

[2016-12-04 22:03] kbknapp commented on #1006
Ah ok, that's my mistake! And hence why I think there are still places where using clap may not make sense.

To clarify clap stores *values* in order, but not flags/options in order. The notable exception is when overrides are concerned, they're *parsed* in order and thus allow the last flag/option to "win" so to speak.

This is absolutely something that could be added though if there's a large en

[2016-12-04 22:08] kbknapp commented on #1006
Ah yeah it's also possible to do like you said use clap for all the validation and such, then once it's necessary just sweep back through the args to get the order which takes nanoseconds so shouldn't be an issue.

[2016-12-05 04:01] Arcterus commented on #1004
I'm pretty sure the problem right now is because we are only checking if it's a bind mount to root or a symbolic link to root in `traverse()`, which is only called once.  The `WalkDir` in `dive_into()` doesn't check for either of these cases, so it just keeps going unless you specifically give a bind mount to root or a symbolic link on the command-line.

[2016-12-13 04:46] kevinburke opened #1012 "Add testimonials to README.md"
What is my experience likely to be like if I replace my coreutils install with this package? How do you recommend going about it? I'd like to try it, and I'm willing to tolerate the occasional error, but I wouldn't like it if, for example, the unimplemented coreutils functions like `cp` broke on my local machine.

[2016-12-15 06:57] LegNeato commented on #811
@dylanscode: Please put up a PR. If you don't have time to take it all the way I am willing to build on what you have. For setting the date, I think https://github.com/rust-lang/libc/pull/473 should help.

[2016-12-15 11:58] mcharsley opened #1013 "Implement find"
Would anyone have an issue with me adding an implementation for "find" to the project?

[2016-12-19 18:54] wimh commented on #1013
You are aware that "find" is not part of coreutils, but [GNU Find Utilities](https://www.gnu.org/software/findutils/)? (Just like "xargs", see #947).

[2016-12-20 01:51] Minoru commented on #846
Apologies for violating the guidelines, but I implemented this and am about to submit a PR.

[2016-12-20 08:57] mcharsley commented on #1013
Yes. It has been pointed out to me by several of my colleagues :-)

I note that the giuthub project is uutils/coreutils. As a complete noob at
github, would it make sense to create a new uutils/findutils project? Is
uutils a parent directory/project that can have multiple projects
underneath it?

thanks

Mark

On Mon, Dec 19, 2016 at 6:54 PM, wimh <notifications@github.com> wrote:

[2016-12-20 09:41] wimh commented on #1013
uutils is a [github organisation](https://github.com/blog/674-introducing-organizations). You are not member of that organisation (neither am I), so you can't create projects underneath it. But as long as you are able to do the administration yourself, there is no need to do so. You can just create a new personal repository. If you keep it public, everybody else can clone it and send pull requests

[2016-12-20 09:46] wimh commented on #1013
Note that my previous comment is based on the assumption that "find" is out of scope for this project. I would expect it is, because "xargs" was also considered out of scope.

[2016-12-20 10:00] mcharsley commented on #1013
Cool. I'll reach out again when I've got slightly more written (it only
currently supports -name, -iname and -print).

thanks

Mark

On Tue, Dec 20, 2016 at 9:46 AM, wimh <notifications@github.com> wrote:

[2016-12-22 13:24] #846 closed

[2016-12-23 13:09] KeenS opened #1017 "`mkdir -p` fails when parent directory exists"
I tried to build (update) uutils with uutils and got this error.

[code]

[2016-12-23 13:19] Minoru commented on #1017
I'll fix this.

[2016-12-23 13:20] Minoru commented on #1017
Oh, sorry @KeenS, I didn't notice you're a contributor too—did you file the issue in order to submit a PR that fixes it later?

[2016-12-23 16:34] #1017 closed

[2016-12-24 07:08] KeenS commented on #1017
No, I just issued, but would have fixed if no one worked for this issue. Thank you.

[2016-12-25 05:40] KeenS opened #1019 "ls: `--inode` is missing"
I'll implement this.

[2017-01-08 08:10] millerjs opened #1023 "Add unix domain socket support to cat"
BSD `cat` supports printing unix domain sockets but uutils does not

[code]

[code]

[2017-01-09 04:27] #1023 closed

[2017-01-10 08:34] #1019 closed

[2017-03-10 18:52] i30817 opened #1027 "Possible to add quilt and diff to the list?"
I'm honestly shocked there isn't a portable implementation of quilt (which uses diff) to use on windows suggest windows people to use, so as you're already implementing a lot of the ecosystem i thought 'why not ask?'.

[2017-03-12 08:35] Minoru commented on #1027
Hi! I'm just a casual contributor, so don't take this comment for official position of the project.

Judging by #696, this repo is only concerned with re-implementing GNU coreutils. Since quilt isn't part of coreutils and [isn't even part of the GNU project](https://savannah.nongnu.org/projects/quilt), it most likely won't be re-implemented here.

However it looks like if you (or someone else) sta

[2017-03-29 03:39] adeschamps commented on #811
I made a partial implementation (PR #1029 ). Some of the main things that don't work yet are:
- Parsing the variety of ways to represent a date ("tomorrow", "next year", etc.)
- Setting the system clock
- Printing the current time zone (although that work needs to be done on the `chrono` crate - it should be pretty simple on this end)

It could also use some unit tests. I wasn't sure how to approa

[2017-04-03 03:59] Arcterus commented on #1027
Yeah, @Minoru pretty much nailed it.  I'm open to potentially starting other projects under uutils (like maybe binutils, if someone wanted to do that), but I'd rather not pollute this project with random utilities.  I'm totally cool with helping other projects get more visibility as well.

[2017-04-03 03:59] #696 closed

[2017-04-03 03:59] #1027 closed

[2017-04-03 15:16] fbstj commented on #1013
this can probably be closed thanks to [uutils/findutils](https://github.com/uutils/findutils)

[2017-04-03 15:32] #1013 closed

[2017-04-16 21:18] kichristensen opened #1037 "shuf doesn't group identical lines"
In the native implementation shuf groups identical lines like this:

[code]

The implementation in Rust doesn't:

[code]

[2017-04-17 07:56] FSMaxB commented on #1037
Coreutils doesn't group identical lines either!

[code]

Maybe you tried a few times and all the permutations you got happened to randomly have this property. It's not that unlikely to happen with such a small input.

[2017-04-17 10:05] kichristensen commented on #1037
You are totally correct. I'll close this issue again

[2017-04-17 10:05] #1037 closed

[2017-05-12 02:40] hackeryarn opened #1040 "Can't make install on osx"
I am trying to make install but I am getting the below error for all utils. I've tried on stable(1.17.0) and nightly(1.19.0).

[code]

when I look in `target/release/deps`, `yes` and others are there but with an identifier on the end.
[code]

[2017-05-20 15:48] muzikmoe opened #1041 "Implement chcon"
I'll be working on chcon.

[2017-05-24 13:00] Shnatsel commented on #556
I have implemented an escape parser for tr, complete with unit tests: https://github.com/Shnatsel/rust-tr/blob/master/src/escape_parser.rs

It supports all GNU escape characters as well as octal sequences. Behavior is mirrored from GNU tr. It's not allocation-free, but since it's only run once I don't see why would that be a goal.

I'll try to adapt it for uutils tr and contribute it if the time p

[2017-05-29 21:34] AgostonSzepessy commented on #44
I'd like to work on this.

[2017-05-30 14:01] AgostonSzepessy commented on #176
Is anyone working on this? I'd like to try and implement it.

[2017-06-08 06:25] abbasfaisal commented on #176
@AgostonSzepessy From my side you can take it over.

[2017-06-11 22:11] sean- opened #1047 "Thank you"
https://www.slideshare.net/SeanChittenden/universal-userland
https://github.com/sean-/BSDCan-2017

FYI, thank you.  This project received a lot of interest from likeminded folks at BSDCan this year.  I wasn't sure how else to pass along a thank you other than to open an issue that you can close at your leisure.  Thanks again, I'm anxious to see this project evolve (and begin contributing where I c

[2017-06-12 04:53] mattmacy commented on #1047
https://github.com/uutils/coreutils/graphs/code-frequency indicates it's been pretty quiet this year. Why not just pick one of the unimplemented utilities or port regression tests for the GNU or BSD equivalents?

[2017-06-12 19:55] sean- commented on #1047
@mattmacy That's actually what I'm planning on doing.  Or more correctly, I'm going to shave off PRs for missing flags that do overlap with the BSD utilities.

[2017-06-24 12:24] albfan opened #1049 "Tail do no consume input"
On tail -f

Everything you type is not consumed and executed after stop command

[2017-06-24 12:24] albfan commented on #1049
Solved on #1048

[2017-06-24 12:46] Minoru commented on #1049
Can you provide a list of steps to reproduce this? Here's what I came up with, but maybe I'm just misunderstanding the issue.

1. In one terminal, run the following:

[code]

2. In another shell, kill the `tail`:

[code]
3. In the first shell, observe the output. Mine is:

[code]

    Note the last line. This is an MD5 hashsum of string "hello\n". This means `tail` didn't consume that "hello", and

[2017-06-25 20:49] albfan commented on #1049
I can reproduce tail consuming input this way:

    $ tail -f /etc/rc.local; cat -A

from another terminal:

    $ TAIL_PID=$(ps -ef | grep tai[l] | awk '{print $2}')
    $ echo -e 'rm\n\nmv\n\n\n\n' > /proc/$TAIL_PID/fd/0
    $ kill -2 $TAIL_PID

I guess those explains by itself, anyway it doesn't hurt little explanation:

- `$TAIL_PID` grabs pid for running tail
- `echo -e` send harming commands

[2017-06-25 21:52] Minoru commented on #1049
I ran your commands and indeed it all works as you describe. But running them with uutils ee9013215bed626fd14bfbcf73d3d90cc65afade works the same way, too!

It looks like comparing GNU and uutils implementations will be necessary after all.

[2017-06-25 22:12] Minoru commented on #1049
I replaced `tail` in your examples with `rev` (which reverses the strings in the input, e.g. turns "hello" into "olleh"), and sure enough, doing `echo "hello\n\n\nworld` resulted in the following output from `rev`:

[code]

[This StackOverflow answer](https://stackoverflow.com/a/5380763/2350060) explains why this happens. Indeed, when I replaced `rev` with `cat | rev` and `echo`ed into `rev`'s FD

[2017-06-25 22:22] albfan commented on #1049
I should say this problem arises on windows, and other tail versions suffer that too. My patch fixes that, behaving like *nix systems. Maybe check if it is running under windows is an option to apply.

Will try your hints and look for causes, but is true that using it, rust tail will be ahead of the command it tries to mimic, so maybe it should not be merged until a that fix is applied on upstream

[2017-06-25 22:48] Minoru commented on #1049
Oh, Windows! This might depend on the shell as well; what are you running? (I've tested on Linux with ZSH and Bash.)

I don't have Windows, so I won't be able to help you there.

I'd also like to note that the tests in #1048 failed, even on Windows, and testing that PR locally, I can confirm that `tail -f` doesn't follow the file at all—it seems like it simply hangs until killed.

[2017-06-25 23:01] albfan commented on #1049
I use MINGW (from git bash for windows) Tested every possible tail implementation for windows and all of them keeps input for next command

Humm, seems it breaks *nix systems, so a check for OS running makes sense.

I will close this as it is clearly a new feature of windows OS. Any hint about how to implement `Ok(_)` so it uses datum but do not print anything? i read that result is annotated with

[2017-06-25 23:01] #1049 closed

[2017-06-28 09:59] albfan opened #1050 "tail with no utf8 inputs"
Read line with Vec<u8> instead of String could fix this. I can work on it, but I need some guidance on that

By now I commented the panic:
https://github.com/uutils/coreutils/blob/master/src/tail/tail.rs#L369

[code]

This is related with #554

[2017-06-30 04:11] Arcterus commented on #1047
I look forward to reviewing your pull requests :)

[2017-07-16 07:14] #801 closed

[2017-07-24 01:04] Arcterus opened #1055 "Move away from rust-crypto"
`rust-crypto` hasn't had any activity for almost a year now, so we should probably switch to `ring` or something similar for the utils that need crypto.

[2017-07-24 04:35] Arcterus commented on #1040
Sorry for the lack of response.  The `Makefile` hasn't really been kept up-to-date, so the best way to install atm is probably through Cargo.  I'll try to update the `Makefile` when I have time.

[2017-07-27 02:32] Arcterus commented on #1055
Actually scratch that.  Seems that `ring` does not support some of the checksums we need (like MD5, which they removed support for).  We still should probably switch away from `rust-crypto` though given that it's been pretty much abandoned.

[2017-07-28 11:26] Arcterus commented on #374
I think this can be fixed by just adding `panic = "abort"` to all the `Cargo.toml`s now.

[2017-08-01 06:59] kuzminva commented on #501
I am going to start working on it. ETA:
- initial release ~20 Aug 2017

[2017-08-03 21:02] nikitavoloboev opened #1064 "Getting an error running make install"
Here is the error :

[code]

Thank you for any help.

[2017-08-03 21:11] Minoru commented on #1064
Apparently [it only became stable in 1.19.0](https://doc.rust-lang.org/std/cmp/struct.Reverse.html). What version of Rust do you have? (`rustc --version` will do.)

[2017-08-03 21:15] nikitavoloboev commented on #1064
Got `rustc 1.16.0`

[2017-08-03 21:17] nikitavoloboev commented on #1064
I can't find a way to update it aside from running curl again from official web page of Rust.

What is the usual way people update Rust?

[2017-08-03 21:19] Minoru commented on #1064
That's too old. Either upgrade or build an older commit; 3c3f5ab2a39bec862df1d72a4741826ee356fb40 is the one that started using `Reverse`, so its parent, 4a5b76f678377bf7c96693e0ec0ce19d1fe62176, will do nicely.

I believe the universal update path is `rustup` utility, but I'm on Linux and I'm lazy, so I'm just using whatever is in the package repository.

[2017-08-03 21:48] nikitavoloboev commented on #1064
Updated rust.

Not I get this error :

[code]

[2017-08-03 22:23] Arcterus commented on #1064
I imagine this is the same issue as #1040 (which I will fix soon).

[2017-08-05 14:48] WildYorkies commented on #126
https://github.com/ogham/exa

Sharing here for posterity @ogham

[2017-08-08 11:07] Phlosioneer commented on #217
Issue Triage: discussion for the date util was continued in #811.

[2017-08-09 02:57] ids1024 opened #1067 "cp -r not behaving correctly with non-existent destination"
`cp -r a b` where a is a directory and b does not exist results in the directory `b/a` being created.

[2017-08-10 09:48] #217 closed

[2017-08-11 02:11] #1067 closed

[2017-08-12 20:09] JuanPotato commented on #1055
We could use the crates `md5`, `sha1`, `sha2`, and `sha3`. sha3 and sha2 are by the same people who made rust-crypto. md5 hasn't been updated in about a year while the rest have been updated about two months ago according to crates.io

[2017-08-15 23:59] kuzminva commented on #271
I don't see source code of join when do a "git clone'. Does it mean it have never been reviewed and submitted to main?

[2017-08-16 00:13] Arcterus commented on #271
Yes, because apparently the output differed from GNU's `join`, so changes were requested.  Nothing happened after that though (and it's been two years), so if someone wants to update the pull request and fix the output order I'd definitely be willing to merge the code.

[2017-08-25 06:23] mssun opened #1072 "make install with libstdbuf.so error"
`$ make MULTICALL=y PREFIX=/tmp/src/coreutils/root install`
[code]

What is `libstdbuf.so`? Is it still useful?

[2017-10-04 20:14] shutefan opened #1077 "Compiler warnings for cp.rs"
For version 1.20 (current stable) rustc gives several warnings on building cp.rs:

[code]

Taken from travis build starting here: https://travis-ci.org/uutils/coreutils/jobs/283112688#L617

I'll provide a PR :slightly_smiling_face:

[2017-10-07 22:52] #1077 closed

[2017-10-08 00:57] Arcterus opened #1083 "Consider switching help argument from `-h` to `-?` or something"
There are a few utilities where `-h` means something other than "print out a help menu" in GNU coreutils.  For example, in `sort` it means "human-readable."  If we switch the help argument to `-?`, we can just alias whatever GNU uses for help to `-?`.

[2017-10-08 11:47] Arcterus commented on #1072
Sorry for the slow response.

Basically `stdbuf` cannot function without it, as the library gets injected into anything `stdbuf` calls to modify `stdin`, `stdout`, and/or `stderr`.

Because you pointed this out, I noticed the code to actually compile the library was deleted at some point, so I am adding it back in now.  Thanks :)

[2017-10-09 22:35] #108 closed

[2017-10-10 11:31] kBite opened #1085 "Try to match the speed of GNU yes"
When reimplementing GNU yes, please take into consideration it's speed: https://www.reddit.com/r/unix/comments/6gxduc/how_is_gnu_yes_so_fast/

It would be nice to see it matched by this project's reimplementation :)

[2017-10-10 12:50] FSMaxB commented on #1085
But who needs that? Is it worth making simple code less simple for something that is not required?

[2017-10-10 13:06] kBite commented on #1085
I'd consider it a "bonus challenge" or "side quest". Nothing what should be matched - ok, initial wording was misleading -, but could be seen as a "decorative feature": not practical, but fancy.

[2017-10-22 07:55] ykrivopalov commented on #911
it seems that this task is abandoned. I'll take it

[2017-10-23 19:08] thepotatocoder commented on #501
Going to start working on this.

[2017-11-10 18:19] sajattack opened #1092 "How to use hashsum?"
It looks like the usage is `hashsum --algo filename` but when I run `hashsum --sha1 filename` it says
[code]

[2017-11-14 02:03] gbutler69 opened #1093 "ls /dir vs ls /dir/ where dir is a soft-link to another folder - incorrect behavior"
If you have a soft-link like, `ln -s /bin /usr/bin`, and you attempt the to run ls on that link as follows, you get incorrect behavior for the case when you include a closing '/' on the path (see below):

[code]

Now if you 'ls' as follows:

[code]

it correctly displays:

`/temp2/temp1 -> /temp1`

however, if you do ls like this:

[code]

   * NOTE the closing '/'

It incorrectly displays `/temp2

[2017-11-15 00:41] gbutler69 commented on #1093
Since the PR referencing this above has been merged. Can consider this issue closed.

[2017-11-15 00:41] #1093 closed

[2017-11-16 12:19] Arcterus commented on #1092
Are you running `hashsum` or `sum`?

[2017-11-16 20:30] sajattack commented on #1092
Hashsum, but it appears to be invoking sum.

[2017-11-18 23:06] #1055 closed

[2017-11-19 13:59] framlog commented on #431
It seems no progress yet. I'm glad to work on it.

[2017-11-21 05:06] mmstick commented on #1083
Sounds like a good idea to me.

[2017-11-21 18:11] timofonic opened #1096 "Suggestion: Add advcpmv coreutils patch functionality to cp and mv"
Hello.

There's a patch for coreutils that sometimes get updated. It adds a progress bar to cp and mv programs.

https://github.com/schollz/advcpmv
https://aur.archlinux.org/cgit/aur.git/plain/advcpmv-8.25.patch?h=advcp (patch for coreutils 8.25, newer version).

Would this be implemented in future cp and mv versions of this coreutils rewritten in Rust?

Kind regards.

[2017-11-30 23:45] wpbirney commented on #176
whats the status on this?
I would be interested in implementing this as dd is one of my favorite utils

[2017-12-01 00:12] AgostonSzepessy commented on #176
@wpbirney You can take it over.

[2017-12-01 05:16] framlog opened #1098 "stat can't work in osx"
Executing `uutils stat -f tmpfs` and it should crash then since there's no `/etc/mtab`.

[2017-12-04 12:14] skade opened #1100 "Properly document minimum version and test it"
coreutils doesn't build on nix due to https://github.com/uutils/coreutils/issues/1064. Nix only supports Rust 1.17.0 currently: (https://nixos.org/nixos/packages.html, search for "rustc")

It would be less confusing to newcomers if `coreutils` would document the current minimum version of rustc it currently needs and tests against that.

[2017-12-04 14:28] skade opened #1102 "Suggestion: don't test all supported platforms for PRs"
Currently, 6 targets are tested for PRs, some of which might have spurious failures (such as nightly breaking).

This wastes resources on travis-ci and makes the PR builds take extra long, and probably only catching a small number of errors.

I suggest reducing the number of matrix builds to `linux-stable` (and possibly, `linux-${current_supported_version}`, depending on the decision in #1101.

ht

[2017-12-05 06:33] #1072 closed

[2017-12-05 06:33] Arcterus commented on #1072
Let me know if something is still not working.

[2017-12-05 06:34] Arcterus commented on #1064
I believe this is fixed now, but let me know if this is still an issue.

[2017-12-05 06:34] #1064 closed

[2017-12-05 06:34] Arcterus commented on #1040
This should be fixed now, but let me know if there's still an issue.

[2017-12-05 06:34] #1040 closed

[2017-12-05 06:38] Arcterus commented on #1096
I wouldn't be opposed to adding this as a `uutils`-specific flag as long as it doesn't conflict with anything else (and doesn't affect portability or performance much).

[2017-12-05 06:40] Arcterus commented on #1096
I imagine the feature would be added to more than just `cp` and `mv` if we do add it, as several other utils could also potentially benefit from a progress bar.

[2017-12-05 06:52] Arcterus commented on #1102
I personally think we should still test nightly, but would be fine with dropping beta (we could also drop stable if we're testing a minimum required version of the compiler).  Dropping the macOS targets is a no-go though.  There are enough differences between Linux and macOS that issues can pop up occasionally, which should ideally be caught by the test suite.

[2017-12-05 07:08] Arcterus commented on #1092
How did you build the utils?  Also what operating system are you using?  I just built on Windows and can't seem to reproduce this issue.

[2017-12-05 08:06] #1100 closed

[2017-12-05 19:32] sajattack commented on #1092
Redox

[2017-12-06 11:03] nox opened #1103 "Don't wrap stdin() in a BufReader"
The reader returned by `std::io::stdin` already uses internal buffering.

[2017-12-06 11:03] nox opened #1104 "Consider slimming down the make stuff"
Why does this project require `make` to build?

[2017-12-06 12:51] Arcterus commented on #1104
Most of the build/installation instructions are from before Cargo existed.  You can use Cargo to build the project (although `make` is still required due to the build process for `stdbuf`).  However, installing requires `make` because (as far as I know) Cargo does not support the creation of symlinks to another binary or the installation of man pages (which will eventually be written).

[2017-12-06 14:08] nox commented on #1104
There is nothing in that crate's makefile that couldn't be done directly in `build.rs` AFAIK.

Man pages does need something more than `cargo`, but the README should make it clear one can just invoke `cargo` to build.

[2017-12-07 02:20] Arcterus commented on #1104
Yeah, the README instructions do need to be updated.

I'm not really satisfied with `stdbuf`'s build process, so I'll see if there's a better way using `build.rs` later.

[2017-12-07 06:53] Arcterus commented on #1104
I've updated the `README` in #1105.

[2017-12-07 13:19] nox commented on #1104
Why is `libstdbuf` needed in the first place, can't we just setup the IO stuff from `stdbuf`'s `main` function?

[2017-12-07 13:47] Arcterus commented on #1104
`setvbuf()` doesn't affect programs started using `exec()` functions, so we need to use the `constructor` attribute and `LD_PRELOAD` to actually modify the buffering in the executed program.

[2017-12-09 02:52] Arcterus commented on #1104
`make` will no longer be required to build `stdbuf` once #1106 lands.

[2017-12-10 05:14] Arcterus commented on #1012
Perhaps we should mention that Redox uses some of the utils now?

[2017-12-11 03:29] Arcterus opened #1109 "stdbuf build fails on the Linux beta on Travis"
I'm not entirely sure why it only fails on the beta, but that's what seems to be happening (it's failed twice in a row now).

[2017-12-11 10:11] #1109 closed

[2017-12-26 03:16] KeenS opened #1115 "`rm -f` exits abnormally when the operand is missing"
That behaviour is different from GNU coreutil's `rm`.

[code]

[2017-12-27 07:43] KeenS opened #1117 "install: exits abnormally when the target isn't a directory"
[code]

This prevents bootstrapping.

[2017-12-27 08:09] KeenS commented on #1117
I'll fix it

[2017-12-27 10:28] #1117 closed

[2017-12-30 09:09] #1104 closed

[2017-12-30 14:40] bmusin opened #1121 "Implement dd."
Hi. I'm currently porting OpenBSD's dd.
One third is done, various conv block transformations and copying is left.
Prototype will be up to 7th Jan.

[2017-12-30 14:41] bltnkl commented on #1121
Is it allowed to use features from nightly?

[2017-12-30 23:03] Arcterus commented on #1121
Great!  I don’t know if it’ll be helpful but I have some stuff [here](/Arcterus/coreutils/tree/src/dd/dd.rs) that you can use.  Also please do not use nightly features.

[2017-12-31 02:23] Arcterus opened #1122 "Switch to CircleCI for Linux builds?"
The Travis builds for Linux can take ridiculous amounts of time to start (the last build I tried took about 20 minutes).

[2017-12-31 07:43] Arcterus commented on #1085
The pull request I just merged makes us close enough in speed, so I'm gonna close this.

[2017-12-31 07:43] #1085 closed

[2017-12-31 09:22] Arcterus opened #1124 "Rewrite utils and testing framework so code coverage works"
The reason the code coverage seems so low is because it's not actually testing the utilities themselves at the moment as they are tested as subprocesses of the testing executable.

To fix this, I am thinking we need to pass `stdin`, `stdout`, and `stderr` to each util's `uumain()` and rewrite the utils to read and write from the given arguments rather than `std::io::stdin()` and such.  The testing

[2017-12-31 18:28] bmusin opened #1125 "Port of non-coreutils utilities."
Hi.
Do you plan to port any other useful utilities that are not included in GNU coreutils package?
They may be beneficial to users, for example, what about `ping`?

[2017-12-31 19:01] mpkh commented on #1125
I think it could be done in separate repository

[2017-12-31 19:27] Arcterus commented on #1125
^

If you are interested in something I can set up a repository.

[2017-12-31 19:36] Arcterus commented on #1124
A bonus of rewriting everything like this is that uutils could be embedded into programs (to be used as builtins for a shell, for example).

[2018-01-01 03:47] ids1024 commented on #1124
This sounds like a good idea for several reasons.

I presume it would take `Read` and `Write` traits, with something like this:

[code]

And then pass `io::stdin()`, `io::stdout()`, and `io::stderr()` by default.

One minor issue with this is that it would not be possible to call `.lock()` on these object, since you just have Read/Write; this interferes with potential optimizations, which might be

[2018-01-01 03:52] ids1024 commented on #1124
This might be solved by just passing `io::stdin().lock()` etc. instead; I guess the locking isn't necessary unless multiple things are reading/writing in parallel? But that might cause issues I'm not thinking of...

[2018-01-01 05:22] Arcterus commented on #1124
Yep, that’s essentially what I’m thinking.  I’m only really worried about passing `io::stdin().lock()` in the case where uutils is embedded in another program, as the parent program won’t be able to use `stdin` while the uutils code is running.

I’ll probably try to push some code outlining things later today or tomorrow.

[2018-01-01 18:28] bltnkl commented on #1121
@Arcterus, should it adhere strictly to latest POSIX or copy GNU coreutils'  features?

[2018-01-01 20:01] Arcterus commented on #1121
It should copy the GNU extensions, but if you’d prefer to just implement POSIX for now that is fine as well.

Note that we should be checking the `POSIXLY_CORRECT` variable but haven’t done so yet, so if you want to hide the GNU extensions behind that, feel free to do so.

[2018-01-02 04:51] Arcterus commented on #1124
I have some stuff [here](https://github.com/Arcterus/coreutils/tree/embedding).  I still need to work on ways to reduce boilerplate.  Note that only `arch` and `base32` have been modified to use the new interface.

[2018-01-06 19:46] bltnkl commented on #1083
Should all these -h's(meaning help) rewritten as -?s ?

[2018-01-07 00:44] Arcterus commented on #1083
Yeah, at some point.  We need to keep `-h` as an alias for `-?` for any GNU utils that happens to implements `-h` as "help" though (not sure if there are any in GNU coreutils).

[2018-01-07 06:02] ids1024 commented on #1083
In zsh, `?` is a wildcard, so it would have to be escaped, which is not ideal.

This is not an issue in Bash; I don't know about other shells.

[2018-01-07 06:11] bltnkl commented on #1083
@Arcterus, also, is it worth rewriting LONG_HELP, HELP, and similar as HELP?

[2018-01-07 19:39] bmusin opened #1132 "documentation of return_if_err! and friends."
Hi. Could you please document these macros so that one may  use them consistently?

[2018-01-12 21:30] jamessan commented on #1098
You're right that it shouldn't be parsing `/etc/mtab` directly.  This is even true on Linux, since that won't handle running inside a namespace.  For Linux, `/proc/mounts` should be used and specific solutions need to be added for other platforms.

However, your example is also flawed since the argument to `-f` isn't the _type_ of filesystem to report information about.  It should be a path, just

[2018-01-17 03:33] Arcterus commented on #1083
@ids1024 ah, that’s true.  It doesn’t really have to be `-?` though; it just needs to be something that won’t conflict with the GNU options and makes sense.

[2018-01-17 09:28] Arcterus commented on #1092
Is this still an issue?  If it is, I'm gonna try to see what's up.

[2018-01-26 04:53] mssun opened #1138 "Testcases failed when the user is root (e.g., in the Docker environment)"
I tried to run `make test` in a Docker container environment (CI), and some failed. Basically, these testcases assume that the user is never a root user.

[code]

[2018-01-29 09:02] dirac3000 commented on #911
Hi, is there a reason why this issue is still open?

[2018-01-29 09:12] ykrivopalov commented on #911
Hi, util was implemented, but doesn't include all features, that GNU numfmt have.

[2018-02-09 11:07] Arcterus commented on #1138
Which Docker container was it?  I'll fix this after my upcoming midterms.

[2018-02-09 22:15] mssun commented on #1138
I think it is because you are root inside a container. You can reproduce the cases easily by:

[code]

[2018-02-10 23:36] Arcterus commented on #1138
Alright, thanks.  I'll look at it when I get a chance.

[2018-02-23 15:26] icefoxen opened #1141 "Why sphinx instead of rustdoc?"
I'm just curious.  :-)

[2018-02-24 01:58] Arcterus commented on #1141
AFAIK rustdoc doesn't support man pages, but if I'm wrong I'd be willing to switch.  Sphinx just seemed to support most of what I thought was important out of the box (_e.g._ easy to read and write man pages and HTML documents).

[2018-02-25 21:49] icefoxen commented on #1141
Good reason!  Thanks.

[2018-02-25 21:49] #1141 closed

[2018-03-02 07:19] Arcterus opened #1144 "Remove custom user/group handling"
Given that there are now libraries like [ogham/rust-users](https://github.com/ogham/rust-users), we should try to remove some of our custom code in favor of these libraries.  However, because the crate name for `rust-users` is `users`, it conflicts with the `users` program, so for now I have forked the library and change the crate name.

[2018-03-03 21:30] Arcterus opened #1145 "Replace Oniguruma"
Currently we use Oniguruma for `expr` because it has support for the GNU regex syntax.  Ideally, we should be using something like [Rust regex](https://github.com/rust-lang/regex), but AFAICT this involves either converting the input string to make it conform to the correct syntax or forking `regex-syntax` so it supports GNU regexes.

[2018-03-03 22:03] ids1024 commented on #1145
By design, the `regex` crate lacks lookaround and back-references:

[The `fancy-regex` crate](https://crates.io/crates/fancy-regex) supports those; I don't know how close it is to GNU syntax.

[2018-03-03 22:26] Arcterus commented on #1145
Ah, I forgot that GNU BRE has backreferences.  I'm a little wary of using `fancy-regex` because it has practically no documentation and is not updated very frequently.

[2018-03-04 15:12] #1138 closed

[2018-03-06 01:57] Arcterus opened #1147 "Start fuzz testing"
We should start fuzzing to find security vulnerabilities at some point.  It may be easier to do this after #1124 is done.

[2018-03-06 02:58] Arcterus opened #1148 "Test on Fuchsia"
We can either do what we do with Redox right now (just build the utils and not actually test them on the operating system) or we could try to build Fuchsia and test using [Fargo](https://fuchsia.googlesource.com/fargo/).  I'm not sure how long a Fuchsia build takes though, so the latter option may be too slow.

[2018-03-07 01:21] Arcterus opened #1149 "Split useful code into separate crates"
It's kind of annoying to have to recompile everything whenever something changes in `uucore`, so I think it would be best to move code that can be useful by itself into separate crates.  Doing so will also let others use whatever we've already written if they want.

We might want to look at the utils themselves (so not just `uucore`) and see if they have any code that may be useful for others as w

[2018-03-10 06:21] garyemerson opened #1152 "du on Windows"
I'd be interested in having `du` compile on Windows. Looking at the code and compiler error msgs the only blocker is the use of `std::os::unix::fs::MetadataExt`. Seems like that could be fixed with a handful of `#[cfg]`'s. That would of course affect parts of the code that use `MetadataExt` and ultimately would lead to the following options not being included on Windows:
* apparent-size
* time
* t

[2018-03-10 07:52] Arcterus commented on #1152
These sorts of changes are always welcome!  Of course, if you manage to figure out how to get the equivalent info on Windows that would be preferable to disabling features, but ideally all the utils should be able to run in some form on any OS.

[2018-03-11 13:53] Arcterus commented on #1149
[platform-info](https://github.com/uutils/platform-info) is the result of extracting `utsname.rs` from `uucore`, which is used on `arch` and `uname`.

[2018-03-12 20:57] bootandy opened #1155 "du on mac is subtly different"
I have been able to get coreutils' du to give a different output to the standard du on my mac os: High Sierra.

As you can see above coreutils' du exits on the first read error where as old du lists the error and then keeps working on the other files.

Is this important enough to be investigated further? If this isn't important then just close this issue.

I'm happy to dig in to this a little more

[2018-03-12 21:59] Arcterus commented on #1155
Do you happen to have GNU coreutils installed via Homebrew or something?  If so, can you report what `gdu` does?  If it also continues after an error (pretty sure it does), this is indeed an issue that needs to be fixed.

[2018-03-12 22:22] bootandy commented on #1155
gdu behaves the same as du.  coreutils's du is different.

I can dig further into this soon as I'm writing my own du tool which is how I first noticed this.

[2018-03-12 22:38] Arcterus commented on #1155
The error is probably [here](https://github.com/uutils/coreutils/blob/master/src/du/du.rs#L94).  We should probably be just printing an error message and ignoring the entry if there's an error instead of crashing.

[2018-03-13 00:18] bootandy commented on #1155
yes I agree that looks correct - I can put together a pull request tomorrow and test it on my mac to see if it fixes it. Tricky to write a test for it though.

[2018-03-13 18:48] bootandy commented on #1155
after liberally sprinkling println! throughout the code it appears to be the safe_unwrap here: https://github.com/uutils/coreutils/blob/master/src/du/du.rs#L58 which is causing the problem.  I'm working on a fix.

[2018-03-13 20:20] bootandy commented on #1098
original stat -f on mac does something different to linux:

so i think this is a case where we can't replicate behaviour on mac.

Having said that I ran: **_uutils stat -f /_** and **_uutils stat -f /dev_**  on my mac and it provided me with block information that looked vaguely sensible.

[2018-03-14 08:08] #1047 closed

[2018-03-14 08:09] #71 closed

[2018-03-14 08:09] #44 closed

[2018-03-14 08:12] #126 closed

[2018-03-14 08:13] Arcterus commented on #315
I've changed my mind on this and think issues should be opened for unimplemented flags and such.

[2018-03-14 08:14] #315 closed

[2018-03-14 08:14] #271 closed

[2018-03-14 08:16] Arcterus commented on #911
The new policy is that unimplemented features should be opened as new issues, as I can understand how it's confusing having these "Implement X" issues still open when they already exist in the source tree.

[2018-03-14 08:16] #911 closed

[2018-03-14 08:16] #232 closed

[2018-03-14 08:16] #219 closed

[2018-03-14 08:17] #376 closed

[2018-03-14 08:19] Arcterus commented on #176
I'm gonna close this in favor of #1121, even though this was created first, as the other issue is tied to a pull request that implements part of `dd`.

[2018-03-14 08:19] #176 closed

[2018-03-14 08:19] #210 closed

[2018-03-15 10:40] Arcterus opened #1162 "Use atty crate rather than custom code"
The crate seems like a well-tested and cross-platform way to test if a terminal is a TTY and will help shrink the size of `uucore`.

[2018-03-15 19:26] #1155 closed

[2018-03-15 20:29] bootandy opened #1163 "du on mac does not calculate block size correctly"
Fairly sure the block size is just half of what it should be on mac.
Fix: Use the specific metadata functions that can be called for each OS.

https://doc.rust-lang.org/std/os/linux/fs/trait.MetadataExt.html

I can fix this.

[2018-03-15 20:38] bootandy commented on #1163
Using specific metadata functions will probably fix this too: https://github.com/uutils/coreutils/issues/1152

[2018-03-15 20:50] bootandy opened #1164 "du (on mac but probably all OS) does not track inodes"
Unlike original du, coreutils/du does not keep track of inodes.

This means coreutils will double count files which are hard linked

to hard link a file:
ln original copy

I can fix this.

[2018-03-15 21:41] Arcterus commented on #1164
Just a quick note, but can you add a test for all of these things to ensure they don't happen again?

[2018-03-15 22:47] bootandy commented on #1164
Well I can try but that could be very hard to do - Unless we run a virtual box with mac and another with linux etc. Maybe I can mock out the file system somehow - I'll look into how the other tests work - Can you link me to a 'favourite test' in this project that I can mimic ? thanks.

[2018-03-17 02:49] Arcterus commented on #1164
You can just configure tests so they only run if the user is on Linux or Mac or whatever.  You might want to look at some of the tests that deal with files, so maybe `tests/test_cp.rs` or `tests/test_rm.rs` or something.

[2018-03-19 05:12] ids1024 commented on #1164
Why do you think it would be hard? I don't think git can manage hard links, but the test can call `std::fs::hard_link`.

[2018-03-19 14:39] bootandy commented on #1164
That's good to know - thank you I'll use that.

I'm more worried about not being to test that it works on mac on linux and vica-versa.

[2018-03-22 10:56] Arcterus commented on #1163
This seems to be for the default version of `du` on Macs, which is based on the BSD version (or maybe just straight up is the BSD version, not really sure).  We should be defaulting to this behavior when `POSIXLY_CORRECT` is set though (or, according to [this](https://www.gnu.org/software/coreutils/manual/html_node/Block-size.html), when `DU_BLOCK_SIZE`, `BLOCK_SIZE`, or `BLOCKSIZE` are set), so i

[2018-03-23 15:09] bootandy opened #1172 "cp test not being run"
I noticed this test is not being run: ( I added an assert!(false) and all the tests still passed ).

https://github.com/uutils/coreutils/blob/master/src/cp/cp.rs#L1191

It should probably be moved or wrapped in a module to make it run

[2018-03-23 15:12] bootandy commented on #1172
Update: It is run if we: cd src/cp and then run cargo test.

[2018-03-23 15:12] #1172 closed

[2018-03-23 15:24] bootandy opened #1173 "read block size environment variables."
This issue is spun out of this conversation:
https://github.com/uutils/coreutils/pull/1169

Block size can use suffixes like kB
See: https://www.gnu.org/software/coreutils/manual/html_node/Block-size.html

[2018-03-23 18:23] bootandy commented on #1173
This is fixed on this branch: https://github.com/bootandy/coreutils/tree/du_input_refactor2

But should probably wait for https://github.com/uutils/coreutils/pull/1169 to be merged in first.

[2018-03-28 17:33] #1163 closed

[2018-03-29 00:29] danieldulaney opened #1174 "Install utility does not compile on Windows"
The `install` utility fails to build on Windows (nightly-x86_64-pc-windows-gnu 2018-03-27).

[code]

It looks like the error is because install/mode.rs doesn't use `uucore::mode` on Windows, but doesn't have an alternate implementation of `parse` for Windows to use.

https://github.com/uutils/coreutils/blob/87d317e22f9d9fadd45c5dca192d9869a3b33924/src/install/mode.rs#L5-L18

Does it make sense to

[2018-03-30 06:52] Arcterus commented on #1174
How are you trying to build?  At the moment, the proper way to build on Windows is `cargo build --no-default-features --features generic` (this should probably be added to the README until we can enable features depending on the target).

I'm not sure how modes should work on Windows honestly, as Windows permissions are different from Unix permissions.  I suppose if you want `install` to compile o

[2018-04-01 23:34] danieldulaney commented on #1174
I built it with that and it totally worked! Thanks! Would it be possible to add those instructions to README? I think it would be useful for people trying to use the project on Windows.

On the bigger picture, Windows does have some vaguely analogous features. It looks like the [`SetSecurityInfo`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa379588(v=vs.85).aspx) function does lots o

[2018-04-02 09:44] Arcterus commented on #1174
No problem. :)

I actually didn't realize they weren't in the README, so I'll add them later (unless someone does it before me).

I'm thinking that we'll just make them no-ops (or issue an error at runtime or something) unless we can figure out a clear mapping between the Unix-style permissions and Windows ones.  We might want to take a look at how existing ports of the GNU coreutils to Windows ha

[2018-04-02 23:01] danieldulaney commented on #1174
This looks like a really tricky issue.

Cygwin (the only coreutils port I've ever used) has a [bunch of documentation](https://cygwin.com/cygwin-ug-net/ntsec.html) on how they implemented their system. They spend a lot of time on windows user-uid mapping, but then under the "File permissions" heading they go through some of the complexities with chmod. It looks like they do make a best-effort atte

[2018-04-03 11:01] #1164 closed

[2018-04-11 10:11] Arcterus commented on #1174
Yeah, I'm inclined to just make them no-ops at the moment.  Some of the ones that don't build on Windows right now actually can be relatively easily made to support Windows but need someone to look through the Windows docs and write some platform-specific code.  Of course, in some cases, the code needed to properly support Windows is non-trivial (_e.g._ look at [this](https://github.com/uutils/pla

[2018-04-14 08:10] jzeus opened #1181 "merge in `exa`?"
i noticed that `ls` is still marked as partially done

just wanted to point out this other cool rust project: [github.com/ogham/exa](https://github.com/ogham/exa)

i was thinking it would be the perfect candidate to merge

[2018-04-15 21:27] mssun commented on #1124
I patched the `util.rs` file, then use kcov to calculate the code coverage. Note that this is just a temporary work around.

[code]

The overall line coverage is **59.3%**. You can find details in attached reports.

Attached are the generated results:
- [Coverage report - uutils.pdf](https://github.com/uutils/coreutils/files/1913361/Coverage.report.-.uutils.pdf)
- [kcov.tar.gz](https://github.com/

[2018-04-15 21:38] mssun commented on #1124
Also, I suggest to remove the Codecov CI (badge, PR hook, and reports) for now or write a notice in  README. Since the results are mis-leading. The number (20%) does not mean anything related to the code coverage and will not help PRs to improve their testcases.

Here is the outputs of `cargo tarpaulin -v`:
[code]

The tarpaulin result shows that only sources under `tests` are covered by tests. I

[2018-04-16 01:52] Arcterus commented on #1181
I don’t think merging it in would work, but using small parts of it should be fine.

[2018-04-16 01:59] Arcterus commented on #1124
Rather than remove the Codecov CI, I think it would make more sense to switch to `kcov` temporarily.

[2018-04-17 10:35] bachp commented on #747
@alexchandel Have you done any additional test since this issue was last discussed? It has been more than 2 years now and rust has changed quite a lot. Would be interesting to see how the binary size was influenced by this.

[2018-04-18 06:40] Arcterus opened #1183 "Use threads in du"
I previously removed threading from `du` because the implementation was spawning a new thread for every directory (or maybe it was every file?).  Ideally, we should be using threads so we can work on multiple files/directories at once, just not in the way previous implementation did so.

[2018-04-20 13:12] Arcterus opened #1187 "Issue with du and who tests"
On my Linux computer, four of the tests for `du` fail, despite them passing on Travis.

I am specifically trying to fix `test_du_basics_subdir()` right now (the others may be similar, but I have not checked yet).  When I run the command outside of `cargo test`, it seems to work fine.  It also seems to work fine during `cargo test` when the full path to the original fixture (`subdir/deeper`) is spe

[2018-04-22 16:04] c-edw opened #1190 "ls: error: Option 'color' does not take an argument"
When I run `ls`, I receive `ls: error: Option 'color' does not take an argument`.

`rustup show`:
[code]

[2018-04-22 16:17] c-edw commented on #1190
Thanks to the awesome guys on the Rust Discord channel. Bash had a default alias for `ls` which was `alias ls='ls --color=auto'`. Running `unalias ls` resolved the problem.

[2018-04-22 16:17] #1190 closed

[2018-04-23 22:47] shaobo-he opened #1193 "Inconsistency with GNU sort"
Hi guys,

I noticed that there might be an inconsistency between sort and GNU's sort. For example,

[code]

Is this type of behavior expected or it doesn't matter?

Thanks.

[2018-04-24 03:25] shaobo-he opened #1194 "expr overflows with large input"
Hi,

This is probably a known issue. For example,

[code]
, whereas GNU `expr` emits a correct error message.

[code]

[2018-04-24 23:08] mssun commented on #1124
breakpoint-based code coverage (like `kcov`) are very slow. It took me hours to get the report. `rustls`'s author also mentioned this in his attempt.

I'm not sure if `kcov` can be integrated in the CI.

[2018-04-26 17:23] shaobo-he opened #1195 "uptime returns 0?"
Hi guys,

If all the relevant system info is not available, which is very rare, `uptime` can return 0. For example, if read accesses to `/proc/uptime` and all the utmp files are removed, `uptime` returns 0 while GNU's `uptime` reports an error.

[2018-05-01 08:33] c-edw opened #1196 "mkdir: File exists."
When I attempt to run `mkdir -p ./test/test`, I get `mkdir: .: File exists (os error 17)`. Running `mkdir -p test/test` (without the relative prefix) works correctly. These commands should behave identically.

Running the GNU `mkdir` with `mkdir -p ./test/test` creates the directories successfully.

This is causing unexpected behavior in various shell scripts. I presume that it's trying to create

[2018-05-02 00:41] shaobo-he opened #1198 "Inaccurate comments in numeric.rs of factor"
Hey guys,

These comments in numeric.rs of `factor` is inaccurate.

https://github.com/uutils/coreutils/blob/master/src/factor/numeric.rs#L27-L28

I think function `sm_mul` actually computes `(a*b)%m`. Also the precondition is not accurate. It's true that overflows occur when `m >= 2^63`. However, when `a` is greater than or equal `2^63`, `sm_mul` may not compute the correct result. For example,

[2018-05-02 16:11] Arcterus commented on #1193
`sort` should behave the same as the GNU version, so this is an issue.

[2018-05-02 16:13] Arcterus commented on #1194
This is not really unexpected, but should be fixed nonetheless.  We should be using the `checked_` functions for mathematical expressions here, but probably are not.

[2018-05-02 16:31] Arcterus commented on #1198
I'm pretty sure both `sm_mul()` and `big_mul()` calculate `(a * b) % m`, so yeah.

I'll need to look at the code, but if `a` and `b` are never going to be that size, I don't think it's much of an issue.  `m` _can_ be that size though, which is why two separate functions are needed.  Did this cause an issue for you or something?

[2018-05-02 16:44] Arcterus commented on #1124
Hm, well, in that case I guess dropping code coverage for the time being is the best solution.

[2018-05-02 17:25] shaobo-he commented on #1198
@Arcterus Yes, `a` will never be that size. It didn't cause an issue for me. I'm just playing with it and found that this function may have some constrains on `a`.

[2018-05-03 06:25] #1195 closed

[2018-05-04 18:32] #1196 closed

[2018-05-11 09:01] Arcterus commented on #1198
If you have time you can submit a PR that fixes both of the issues and I'll merge it, but otherwise this will be pretty low priority.  Thanks for bringing this up though. :)

[2018-05-24 12:37] LeonardKoenig opened #1202 "Makefile: Install fails to install libstdbuf.so due to globbing"
The command
[code]
fails when there are multiple dirs in `build/` that contain the `libstdbuf.so` (or any other library that would be copied, in theory). I still had `target/release/build/stdbuf-e3408bc0e9238b7c/out/libstdbuf.so` left over, next to `target/release/build/stdbuf-1269745ba58d8635/out/libstdbuf.so`, so the command expanded to
[code]
which means that instead of the intended syntax
[cod

[2018-05-26 22:45] Arcterus commented on #1202
Thanks for filing an issue.  This just seems to be because the Makefile is out-of-date, as there is no longer a need to copy a `libstdbuf.so` anywhere (it's automatically generated upon running `stdbuf`).  I'll try to fix this in the next couple of days.

[2018-05-26 23:05] Arcterus commented on #1202
So, I take that back.  It will take less than a couple days because I've added a fix to #1201.

[2018-05-30 00:47] Arcterus commented on #1202
This should be fixed now.  Let me know if something is still failing for you.

[2018-06-01 19:28] #1202 closed

[2018-06-14 18:44] Arcterus opened #1235 "Testing framework hides issues"
The testing framework strips trailing spaces/newlines from the output, causing things such as `test_stdin_show_tabs()` for `cat` to report success despite printing an extra newline.

[2018-06-18 03:11] TheGoddessInari opened #1240 "cat doesn't print files with "invalid unicode""
At least on Windows, it prints
[code]
when attempting to cat -n or cat -b a file with presumably invalid unicode. Without any other arguments, it prints a blank line. This is an important distinction because GNU cat, and redirecting input (like cat < file) both work. Only when passing the file via arguments does it fail in this way.

Notably, this fails with most executables.

[2018-06-18 06:09] TheGoddessInari opened #1241 "uutils doesn't strip .exe if passed when checking applets"
With powershell, even if you symlink a bunch of files (such as ls.exe being symlinked to uutils.exe), the binary name passed to uutils to check is ls.exe instead of ls.

Looks like uutils.rs needs to use file_stem instead of file_name.

[2018-06-18 07:42] scampi commented on #501
@jerzozwierz @kuzminva @thepotatocoder If that is no bother i'll give this a try.

To everybody I have a question regarding the `--suffix` option that let's you set a format for the file counter. That format uses the syntax of `sprintf`.
Given that I would have to use some unsafe to call it, just to get a formatted string, I was reluctant to do it.
Since it is [not yet possible](https://users.rust

[2018-06-18 08:10] thepotatocoder commented on #501
@scampi I tried it a little while but haven't got it to it recently. Using unsafe features while you wait for the language to come around isn't bad if it's only temporary, imo.

[2018-06-18 15:53] #1241 closed

[2018-06-18 16:32] Arcterus commented on #1240
This main part of this issue  _seems_ to be caused by https://github.com/rust-lang/rust/issues/23344.  I'm not really sure if there's an easy fix unfortunately.  That said, I'm still not totally sure why the issue only shows up when opening a file directly.  I'm guessing it has to do with stdin only reading in UTF-16 pairs or something so there is no need to worry about half pairs.

The other part

[2018-06-22 20:17] scampi commented on #501
There is a behaviour that is confusing me.

When using a linenum-based pattern (i.e., copy up to a line number), the lines read but left-over from a previous pattern are taken into account. However, it is not the case with a regex-based pattern.

# GNU's csplit

- 4.16.13-2-ARCH x86_64 GNU/Linux
- csplit (GNU coreutils) 8.29
- tested with `numbers50.txt`, a file of 50 numbers from 1 to 50, 1 per l

[2018-06-26 20:13] synek317 opened #1253 "Use coreutils as a library?"
I've just found this crate, it looks amazing but there is one thing I cannot understand: why there are no pub functions to make it usable as a crate dependency? It could make rust a lot closer to become an alternative shell script language.

[2018-06-26 20:52] Arcterus commented on #1253
Currently the utilities themselves have not been designed to run that way.  To change them to support that use case will require a substantial effort due to a variety of issues (including the fact that many utilities manually exit in the case of an error rather than returning an exit status).  However, it is my plan to rewrite the utilities to support this at some point (although the main motivati

[2018-06-26 22:40] bootandy commented on #1183
I tried this on my project: dust. It didn't bring a great performance boost and did make the code considerably more complex so I decided not to.

I'm not saying that it is not worth doing but please tame your expectations.

[2018-06-26 23:38] bootandy opened #1255 "run who tests on mac"
If we change this line to `eprintln`

https://github.com/uutils/coreutils/blob/master/src/uucore/utmpx.rs#L247

(On mac: Weirdly the value for `res` is 1 but the call to `last_os_error` returns 0)

Then we can run the `who` tests against the mac as well as against linux.

I made the change here but I don't know if it is a good idea. Feel free to comment. - This splits the tests into mac & not mac

[2018-06-28 17:36] synek317 commented on #1253
Do you have any plan on how to do this iteratively? I think I could help, I would _love_ to write my scripts in rust instead of bash or python!

I don't think compile times are big obstacle - last time I wrote really small python tool, I spend a couple of hours doing infinite number of fix - run - wait for an exception - fix - run - wait.... On the other hand, my rust app where I used ssh and zip

[2018-06-28 18:39] Arcterus commented on #1253
The first step will likely involve restructuring the utilities to support the framework mentioned in #1124 (although at this point the design will likely be more similar to [this](https://github.com/mesalock-linux/mesabox/blob/1b32bde66a7bd6b6f2d3898cea6460ee01bfd2eb/src/lib.rs#L108)).  Following that we'll need to rewrite everything such that they always return `Result`s rather than just exiting

[2018-07-04 21:16] Arcterus commented on #1255
Something like this seems fine (and that warning probably should use `eprintln!()`).  If we are going to call different utilities on different platforms, I think it would make more sense to do so in the testing framework than on a per-utility basis.  I'll need to figure out what exactly is happening on Macs with regards to the `utmpxname()` call.

[2018-07-11 04:42] #1194 closed

[2018-07-23 21:03] bachp opened #1272 "insmod and rmmod"
I'm currently implementing module loading and unloading for the linux kernel (see: https://github.com/nix-rust/nix/pull/930). One goal would be to have `inmod` and `rmmod` replacements based on that.

My question: Is it OK to add these to this repo? I don't think `insmod`/`rmmod` is part of GNU Coreutils. On the other hand busybox has them and I like to think of uutils as a busybox replacement.

W

[2018-08-02 07:00] Arcterus commented on #1272
I'd be willing to consider adding them, but I feel like we may want to just create an "extrautils" repo or something for utilities like those (though if we haven't done this by the time you or someone else finishes utilities like those I wouldn't be opposed to adding them to this repo).

[2018-08-02 09:39] CameronNemo opened #1273 "install: implement unprivileged mode"
[FreeBSD's version of install](https://www.freebsd.org/cgi/man.cgi?query=install) supports a flag (`-U`) that prevents it from changing permissions on already existing files. If this version could also support said flag, that would be great.

[2018-08-04 08:47] TheGoddessInari opened #1274 "rm: On Windows, rm -rf * doesn't do anything."
It doesn't return an error, but also doesn't remove any files or directories.

[2018-08-06 18:47] Arcterus commented on #1274
This is probably due to Windows shells not expanding globs.  I’m not sure if we should expand the globs ourselves on Windows or just leave the behavior as is.

It should at least return an error on the glob right now because it’s not being expanded, so that is an issue.

[2018-08-06 18:50] Arcterus commented on #1273
This seems reasonable, sure.

[2018-08-06 18:52] Arcterus opened #1275 "Check for interruptible I/O"
We should probably check if a read/write was interrupted by a signal or something for some of the utilities (if the read/write fails) and then continue reading/writing if so.

[2018-08-16 12:20] nothingnesses opened #1276 "`stdbuf` failing to compile"
After running `export RUST_BACKTRACE=1 && export CXX=/usr/bin/clang++ && stdbuf -o 0 cargo +nightly install --git https://github.com/uutils/coreutils.git --features "arch base32 base64 basename cat chgrp chmod chown chroot cksum comm cut dircolors dirname du echo env expand factor false fmt fold groups hashsum head hostid hostname id kill link ln logname mkdir mkfifo mknod mktemp mv nice nl nohup

[2018-08-16 20:14] Arcterus commented on #1276
Does it work if you clone the repository and then build?

[2018-08-18 05:05] kubo39 opened #1278 "tee: handling `-` incorrectly"
[code]

[2018-08-22 16:01] kubo39 opened #1279 "sync: --data and --file-system option"
- --data (sync only file data)
    - we can use `fdatasync()` except MacOS.
 - --file-system (sync just the files ystems that contains the files given as arguments)
    - we can use `syncfs()` only if Linux Kernel >= 2.6.39
    - otherwise, GNU coreutils uses `sync()`.
- When only files were given, GNU coreutils uses `fsync()`

[2018-08-26 12:16] arsdragonfly opened #1280 "numfmt: implement missing options"
Currently these options available in GNU numfmt are still missing:

- [ ] --debug
- [x] -d/--delimiter
- [x] --field
- [x] --from-unit
- [ ] --grouping
- [x] --invalid
- [x] --round
- [x] --suffix
- [ ] -z/--zero-terminated

I'll be implementing them as much as I can.

[2018-08-27 23:15] Arcterus commented on #1278
What does this do for you using the GNU version?

[2018-08-27 23:17] Arcterus commented on #1276
Yeah it's due to the build setup for `stdbuf`.  IIRC it's because the structure of `target/` differs when using `--git` as compared to a normal build for some reason.

[2018-08-28 01:07] kubo39 commented on #1278
GNU version 8.28 shows this.

[code]

It seems that they [don't treat "-" specially](https://github.com/coreutils/coreutils/blob/2ed7c2867974ccf7abc61c34ad7bf9565489c18e/src/tee.c#L213) and [implicit uses stdout](https://github.com/coreutils/coreutils/blob/2ed7c2867974ccf7abc61c34ad7bf9565489c18e/src/tee.c#L206).

[2018-08-28 01:12] Arcterus commented on #1278
I'm testing on WSL, but it seems to me that 8.21 behaves the same as the current behavior, so I imagine this was a (somewhat) recent change.  Also, please don't look directly at the GNU code.  Doing so makes it difficult to say whether code in `uutils` is derived from the GNU version.

[2018-08-28 13:41] VoidNoire commented on #1276
I see, so this is a problem with `cargo` and not `stdbuf` then right? Shall I close this issue then? Also, do you know if there's already a relevant open issue on https://github.com/rust-lang/cargo pertaining to this one, and if not maybe it would be a good idea to open one right?

[2018-08-29 02:08] rivy commented on #1274
This bugged me as well. So, I fixed it.

With just a small set of changes, localized to 'uucore', I was able to add command line globbing for windows targets to all the utilities.

I've just opened [PR#1281](https://github.com/uutils/coreutils/pull/1281) with the patches.

[2018-09-04 05:00] xplorld opened #1282 "sort: panic on empty lines"
[code]

[2018-09-04 06:14] #1193 closed

[2018-09-05 11:09] NoTroop opened #1286 "hostid has vestigial Mode enum"
The hostid program has a Mode enum that it is no longer using. Is there a reason it has been kept around? It compiles and functions identically without it. Here's the patch:

[code]

[2018-09-10 13:32] vks commented on #1282
What is the expected output? GNU sort seems to return the unsorted input.

Note that you probably want to use the `-e` flag for echo, otherwise your escapes don't work. If you do that, uutils still panics, because there is an empty line which cannot be converted to a number. If you remove the trailing newline, uutils sorts as expected.

[2018-09-10 13:39] vks commented on #1253
Why would you want to use the the crates here instead of directly using the Rust libraries that uutils employs?

[2018-09-18 01:27] Arcterus commented on #1276
Sorry for taking so long to respond.  We could work around the issue in Cargo, so I think leaving this open is fine (at least for now).  I _believe_ there is already an open issue in Cargo, but I'm not 100% sure.

[2018-09-18 01:34] Arcterus commented on #1253
Do you mean why would you want to embed something like `cksum` or `cut` in your program?  Well, first off, if you're writing a shell, you can use them as builtins rather than needing to either `fork+exec` and executing an external command or implementing them yourself.  Another example would be to have common cross-platform commands for _e.g._ a build system.  Basically, if you were to directly us

[2018-09-18 01:40] Arcterus commented on #1286
It seems like it's just leftover cruft from various changes over the years.  If you submit a pull request with this patch I'll merge it.

[2018-09-19 01:43] #1286 closed

[2018-09-19 04:17] xplorld commented on #1282
You are right. I use macOS whose echo seems different from GNU echo. This bug is still a thing, though. GNU sort sorts the two numbers, and outputs them reversely.

[2018-09-23 21:03] E5ten commented on #1125
@Arcterus I'd be interested in repositories for grep and sed, because all of the non-GNU implementations of sed are missing certain features such as --color and -P for grep and --follow-symlinks for sed. A rust implementation of gawk would also be very cool.

[2018-09-24 00:03] E5ten opened #1292 "du --apparent-size very not accurate"
Using GNU du, if I check the size of a certain directory I get a report of 4.4G, if I use --apparent-size it shows up as 4.1G. If I use uutils du I get 4.4G, in line with GNU du, but if I use --apparent-size I get 44.9G. In another directory GNU du reports 216M with and without --apparent-size, while uutils du reports 215.7M without, and 1.1G with. Multiple other directories have very large discre

[2018-09-24 12:27] JJJollyjim commented on #1280
Is it okay for me to have a go at few of these? (currently thinking of --field/-d)

Fine if you want to do it of course :)

[2018-09-24 13:49] arsdragonfly commented on #1280
Yes you can work on that.

Jamie <notifications@github.com> 于 2018年9月24日周一 08:27写道：

[2018-09-24 21:47] E5ten commented on #1292
Ext4, and there shouldn't be anything strange about my files.

[2018-09-26 08:18] JJJollyjim commented on #1292
I have reproduced this on ext4, where (unlike with other filesystems) `stat.nlink` on a directory is not 1. For some reason we multiply `stat.size * stat.nlink` to get a size when using `--apparent-size`... I don't believe this behaviour makes much sense, even for regular files.

[2018-09-26 21:10] E5ten commented on #1292
This PR fixes the problem and makes du --apparent-size work identically to the GNU flag.

[2018-09-29 17:43] E5ten opened #1295 "du -b doesn't act properly"
`du -b` should give the same results as `du --apparent-size --block-size=1` but it gives the same results as du with no flags, whereas `du --apparent-size --block-size=1` matches what GNU `du -b` and `--apparent-size --block-size=1` do.

[2018-09-30 14:51] cnd commented on #1282
@xplorld may you test if patch has fixed that issue

[2018-09-30 15:50] #1282 closed

[2018-10-08 18:16] Snuggle commented on #1295
Tested this pull request locally and it works well for me. :+1:

[2018-10-14 09:28] #1295 closed

[2018-10-19 06:52] #1278 closed

[2018-10-29 10:38] dvrax opened #1309 "Chown fails to modify first file when using --reference"
When using chown with --reference the first file is not changed due to an unconditional removal of the first argument.

Example:
[code]

[2018-10-30 05:10] Shados commented on #817
I'm definitely in support of 'consistent output across all platforms'. That said, enabling drop-in replacement of GNU coreutils would be excellent: maybe make 'maximum fidelity' behaviour optional at compile-time?